/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [variables.scss]
*
*/

/*******************************************************
VARIABLES
*******************************************************/


$bg-body: #ffffff;
$text-content-max-width: 960px;


$space-m: 2rem;
$space-t: 2.5rem;
$space-d: 4rem;
$space-dl: 6rem;





/*******************************************************
COLORS
*******************************************************/
/* BASICS */
$web-grey-1: #f2f2f2;
$web-grey-2: #d3d3d3;
$web-grey-3: #aca9a9;
$web-grey-4: #5f6369;
$web-grey-5: #343741;
$web-grey-6: #181818;

/* SPECIFIC BRAND */
$primary-color: #d5c392;
$primary-color-light: #dbcca9;
$primary-color-lighter: #f6e9d5;
$primary-color-dark: #a8956c;
$primary-color-darker: #5b512a;


$secondary-color: #8d949b;
$secondary-color-light: #D0D3D4;
$secondary-color-lighter: #ebf2fa;
$secondary-color-dark: #52585f;
$secondary-color-darker: #141a1f;

//$secondary-color: #43474d;
//$secondary-color-light: #9a9ea4;
//$secondary-color-lighter: #d3d3d3;
//$secondary-color-dark: #363b41;
//$secondary-color-darker: #15171a;

$tertiary-color-1: #d7d4d3;
$tertiary-color-2: #aba7a7;
$tertiary-color-3: #949A90;

$accent-color: #92d5c3;
$accent-color-light: #bce5da;
$accent-color-dark: #52b59a;
$accent-color-darker: #52b59a;


/****** TITLES & TEXTS ******/
$reading-text: $secondary-color-dark;




/****** MESSAGES & ALERTS ******/
$color-success: #00E676;
$color-success-light: #69F0AE;
$color-success-lighter: #dafce4;
$color-success-dark: #00bd60;
$color-success-darker: #00732e;

$color-warning: #ffbe2e;
$color-warning-light: #fee685;
$color-warning-lighter: #fffbeb;
$color-warning-dark: #e5a000;
$color-warning-darker: #936f38;

$color-error: #ff1540;
$color-error-light: #f45967;
$color-error-lighter: #ffdfe6;
$color-error-dark: #e4001b;
$color-error-darker: #c80004;


/****** HEADER & FOOTER ******/
$header-height-small: 80px;
$header-height-large: 120px;
$bg-header-color: white;
$bg-sidemenu-color: $secondary-color-dark;
$bg-footer-color: $secondary-color-darker;

$side-menu-color: white;
$side-submenu-color: $tertiary-color-1;
$side-menu-accent: $primary-color;


/****** POPUP ******/
$popup-color: $primary-color;
$popup-text-color: white;
$popup-color-2: #f2f2f2;
$popup-text-color-2: $secondary-color;
$popup-width-small: 320px;
$popup-width-large: 520px;



/*******************************************************
ADMIN
*******************************************************/
$admin-primary: #6300ee;
$admin-primary-light: #a67cf3;
$admin-primary-lighter: #f6efff;
$admin-primary-dark: #5300e8;
$admin-primary-darker: #3700b3;

$admin-secondary: #03dac4;
$admin-secondary-light: #92e9dc;
$admin-secondary-lighter: #d4f6f2;
$admin-secondary-dark: #00c7ab;
$admin-secondary-darker: #03493c;

$admin-alert: $color-warning;
$admin-confirm: $color-success;
$admin-delete: $color-error;
$admin-update: #eef1f7;
$admin-update-2: #434C57;



/*******************************************************
Z-INDEX
*******************************************************/
$z-home-hero-overlay: 2;
$z-home-hero-content: 3;
$z-top-menu: 4;
$z-side-menu: 5;
$z-alert-popup: 99;





