/* Error: Undefined mixin.
 *    ,
 * 24 | /     @include tablet {
 * 25 | |         grid-template-columns: auto 1fr;
 * 26 | |         gap: 1rem;
 * 27 | \     }
 *    '
 *   assets/scss/pages/page-fields.scss 24:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 24 \2502  \250c      @include tablet {\a 25 \2502  \2502          grid-template-columns: auto 1fr;\a 26 \2502  \2502          gap: 1rem;\a 27 \2502  \2514      }\a    \2575 \a   assets/scss/pages/page-fields.scss 24:5  root stylesheet";
}
