/* Error: Undefined mixin.
 *    ,
 * 20 | /         @include desktop {
 * 21 | |             margin-top: 3rem;
 * 22 | |             gap: 2rem 4rem;
 * 23 | \         }
 *    '
 *   assets/scss/pages/page-volunteer.scss 20:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 20 \2502  \250c          @include desktop {\a 21 \2502  \2502              margin-top: 3rem;\a 22 \2502  \2502              gap: 2rem 4rem;\a 23 \2502  \2514          }\a    \2575 \a   assets/scss/pages/page-volunteer.scss 20:9  root stylesheet";
}
