/*
*
* LOCATION: [admin]
* FOLDER: [scss]
* FILE NAME: [admin-layout.scss]
* DESCRIPTION: layout page admin
*
*/






/************************
Variables ADMIN CSS
************************/
$sidemenu-width: 320px;
$sidemenu-width-small: 60px;
$popup-width-small: 420px;
$popup-width-large: 600px;









/************************
Layout ADMIN CSS
************************/
body {
    font-size: 16px;
    background-color: #f2f2f2;
    * {
        box-sizing: border-box;
    }
}

section {
    width:100%;
    margin:0 auto;
    padding: 0;
}

*[class*='grid-layout-'] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}
.grid-layout-2 {
    @include tablet {
        grid-template-columns: 1fr 1fr;
    }
}
.grid-layout-3 {
    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




/*******************************************************
GRID SYSTEM
*******************************************************/
.grid-system {
    width: 100%;
    display: grid;
    gap: 1rem;
    @include tablet {
        gap: 1.5rem;
    }
    @include desktop {
        gap: 2.5rem;
    }
    
    &.grid-col-2 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    &.grid-col-3 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
        
        &.t1 {
            @include tablet {
                grid-template-columns: 1fr;
            }
        }
        
    }
    
    &.grid-col-4 {
        grid-template-columns: 1fr 1fr;
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
        
        &.t1 {
            @include tablet {
                grid-template-columns: 1fr;
            }
        }
        
    }
    
}




.file-upload {
    margin-top: 3rem;
}

.footer-dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    margin-bottom: 8rem;
    @include mobile-max {
        flex-direction: column;
    }
}







/************************
ALERT MESSAGES in Dashboard
************************/
.message-box {
    display: flex;
    flex-flow: row nowrap;
    
    position: fixed;
    bottom: 4rem; left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    
    -webkit-box-shadow: 0 5px 20px -6px rgba(18,18,18,.4);
    -moz-box-shadow: 0 5px 20px -6px rgba(18,18,18,.4);
    box-shadow: 0 5px 20px -6px rgba(18,18,18,.4);
    
    &.maintenance {
        width: 100%;
        position: relative;
        bottom: unset; left: unset;
        transform: none;
        margin-bottom: 3rem;
        &:has(+ .maintenance) {
            margin-bottom: 1rem;
        }
        
        .icon {
            background-color: $color-error;
            &:before {
                color: white;
            }
        }
        
        p {
            width: 100%;
            max-width: inherit;
            
            &:has(+ p) {
                margin-bottom: .5rem;
            }
            &:has(+ ul) {
                margin-bottom: 0;
            }
        }
        
        ul, ol {
            margin-inline: 1rem;
            margin-block: .25rem;
            
            li {
                @include font-family-reading;
                @include font-style(400, .875rem, 1.3em, white);
                margin-bottom: .25rem;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
        ul li {
            list-style-type: disc;
            li {
                list-style: circle;
            }
        }
        
        ol li {
            list-style-type: decimal;
            li {
                list-style: lower-alpha;
            }
        }
        
    }
    &.maintenance.legend {
        margin-bottom: .5rem;
        box-shadow: none;
        .text-content {
            border: 1px solid $admin-primary;
            @include border-radius-uniform(.5rem);
            background: $admin-primary-lighter;
        }
        span {
            display: grid;
            grid-template-columns: 24px 1fr;
            align-items: center;
            gap: .5rem;
            line-height: 1.3em;
            color: $admin-primary;
            margin-bottom: .5rem;
            
            &:before {
                display: inline-grid;
                justify-content: center;
            }
            
            &.construction:before {
                font: var(--fa-font-light);
                content: '\f85d';
                font-size: 1.25em;
                color: $color-warning;
            }
            &.new-feature:before {
                font: var(--fa-font-sharp-regular);
                content: '\f06d';
                font-size: 1.25em;
                color: $color-error;
            }
        }
    }
    
    .icon {
        padding: 1rem;
        background-color: $color-warning;
        &:before {
            font: var(--fa-font-sharp-regular);
            content: "\f05a";
            font-size: 2rem;
        }
    }
    .text-content {
        width: 100%;
        padding: 1rem;
        background: $web-grey-6;
    }
    p {
        color: white;
        font-size: .875rem;
    }
    
    .message-box-close {
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Font Awesome 6 Pro";
        font-weight: 300;
        color: #2e2e2e;
        content: "\f00d";
    }
    
    &.fade-out {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    
}









/********* FONCTIONS *********/
.is-hide,
.is-hidden {
    display:none !important;
}

.only-mobile {
    @include tablet {
        display: none !important;
    }
}

.only-tablet {
    @include mobile-max {
        display: none !important;
    }
}
