/*
*
* LOCATION: [assets]
* FOLDER: [scss]
* FILE NAME: [main-admin.scss]
* DESCRIPTION: admin css file
*
*/








/************************
ALERT MESSAGES in Dashboard
************************/
.message-box {
    display: flex;
    flex-flow: row nowrap;
    
    position: fixed;
    bottom: 4rem; left: 50%;
    transform: translate(-50%, 0);
    z-index: 11;
    
    -webkit-box-shadow: 0 5px 20px -6px rgba(18,18,18,.4);
    -moz-box-shadow: 0 5px 20px -6px rgba(18,18,18,.4);
    box-shadow: 0 5px 20px -6px rgba(18,18,18,.4);
    
    &.maintenance {
        width: 100%;
        position: relative;
        bottom: unset; left: unset;
        transform: none;
        margin-bottom: 3rem;
        &:has(+ .maintenance) {
            margin-bottom: 1rem;
        }
        
        .icon {
            background-color: $color-error;
            &:before {
                color: white;
            }
        }
        
        p {
            width: 100%;
            max-width: inherit;
            
            &:has(+ p) {
                margin-bottom: .5rem;
            }
            &:has(+ ul) {
                margin-bottom: 0;
            }
        }
        
        ul, ol {
            margin-inline: 1rem;
            margin-block: .25rem;
            
            li {
                @include font-family-reading;
                @include font-style(400, .875rem, 1.3em, white);
                margin-bottom: .25rem;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
        ul li {
            list-style-type: disc;
            li {
                list-style: circle;
            }
        }
        
        ol li {
            list-style-type: decimal;
            li {
                list-style: lower-alpha;
            }
        }
        
    }
    &.maintenance.legend {
        margin-bottom: .5rem;
        box-shadow: none;
        .text-content {
            border: 1px solid $admin-primary;
            @include border-radius-uniform(.5rem);
            background: $admin-primary-lighter;
        }
        span {
            display: grid;
            grid-template-columns: 24px 1fr;
            align-items: center;
            gap: .5rem;
            line-height: 1.3em;
            color: $admin-primary;
            margin-bottom: .5rem;
            
            &:before {
                display: inline-grid;
                justify-content: center;
            }
            
            &.construction:before {
                font: var(--fa-font-light);
                content: '\f85d';
                font-size: 1.25em;
                color: $color-warning;
            }
            &.new-feature:before {
                font: var(--fa-font-sharp-regular);
                content: '\f06d';
                font-size: 1.25em;
                color: $color-error;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .icon {
        padding: 1rem;
        background-color: $color-warning;
        &:before {
            font: var(--fa-font-sharp-regular);
            content: "\f05a";
            font-size: 2rem;
        }
    }
    .text-content {
        width: 100%;
        padding: 1rem;
        background: $web-grey-6;
    }
    p {
        color: white;
        font-size: .875rem;
    }
    
    .message-box-close {
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Font Awesome 6 Pro";
        font-weight: 300;
        color: #2e2e2e;
        content: "\f00d";
    }
    
    &.fade-out {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    
}


/*************************************
ADMIN – FORM buttons
*************************************/
.d-form-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0 0;
    padding: 0;
    gap: 1rem;
    
    .content-add & {
        justify-content: center;
        margin-bottom: 3rem;
    }
    
    &.header {
        margin:0 0 2rem;
        justify-content: flex-start;
        
        [class*='btn-'] {
            margin-bottom: 0;
        }
    }
    
    &.split-full {
        justify-content: space-between;
        margin:0 0 2rem;
        * {
            margin: 0 !important;
            margin: 0 !important;
        }
    }
    
}

.list-cta {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    pointer-events: initial;
    @include mobile-max {
        justify-content: center;
    }
    
    &.list-user-type {
        gap: .5rem;
        
        > * {
            flex-grow: 1;
        }
    }
}

.inactive > * {
    opacity: 0.2;
}







/************************************
ADMIN switch buttons
************************************/
form.switch-status {
    display: grid;
    gap: .25rem;
}

/* Hide the default checkbox */
.switch-checkbox {
    display: none;
}

/* Style the switch container */
.switch-container {
    display: inline-block;
    position: relative;
    width: 56px;
    height: 32px;
    background-color: $color-success-lighter; /* Default background color */
    border-radius: 16px;
    cursor: pointer;
    &:has(.switch-checkbox:checked) {
        background-color: $color-success-dark;
    }
}

/* Style the switch knob */
.switch-knob {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}

.switch-checkbox:checked + .switch-knob {
    transform: translateX(23px);
}








/************************************
ADMIN custom checkbox
************************************/
.list-checklist {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 2rem;
    margin-block: 1.5rem;
}
.custom-checkbox {
    display: block;
    padding: 1rem;
    @include border-radius-uniform(.5rem);
    border: 1px solid $secondary-color-light;
    color: $secondary-color-light;
    cursor: pointer;
    
    transition: all .3s ease;
    
    &:hover {
        border-color: $secondary-color-dark;
        color: $secondary-color-dark;
    }
    
    &.sponsors {
        width: 100%;
        max-height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    &:has(input[type="checkbox"]) {
        [class*='list-img-'] & {
            opacity: .4;
        }
    }
    
    &:has(input[type="checkbox"]:checked) {
        border-color: $admin-primary-darker;
        background-color: $admin-primary-lighter;
        color: $admin-primary-darker;
        opacity: 1;
    }
    
    input[type="checkbox"] {
        display: none;
    }
}






/*************************************
ADMIN – DEFAULT HOME PAGE
*************************************/
.list-dashboard-menu {
    margin-block: 3rem;
    grid-template-columns: 1fr 1fr;
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
    @include desktop-large {
        grid-template-columns: repeat(4, 1fr);
    }
    
    li {
        padding: 1rem;
        border: 1px solid $primary-color;
        background-color: white;
        @include border-radius-uniform(.5rem);
        @include tablet {
            padding: 2rem;
        }
        @include desktop-medium {
            padding: 3rem;
        }
    }
    a {
        gap: 1rem;
        font-size: 1.5rem;
        opacity: 1;
        transition: all .3s ease;
        &:hover {
            opacity: .5;
        }
        @include tablet {
            font-size: 2rem;
        }
        @include desktop-medium {
            font-size: 3rem;
        }
        
        span {
            @include font-family-reading;
            @include font-style(600, .75rem, 1.3em, $secondary-color);
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}






/*************************************
ADMIN – DASHBOARD content
*************************************/
.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 2rem 3rem;
    @include tablet {
        grid-template-columns: $sidemenu-width 1fr;
        grid-gap: 1.5rem;
        padding: 2rem 2rem 3rem 0;
        &.small {
            grid-template-columns: $sidemenu-width-small 1fr;
        }
    }
    @include desktop {
        grid-gap: 2rem;
    }
}

.dashboard-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include tablet {
        grid-column: 2;
    }
    
    .dashboard-main {
        border: 1px solid #d3d3d3;
        background-color: white;
        margin-bottom: 3rem;
    }
    
    .dashboard-title {
        background-color: $secondary-color-dark;
        padding: .5rem 1rem;
    }
    
    .dashboard-content {
        padding: 1rem;
        @include tablet {
            padding: 1.5rem;
        }
    }
    
}


/*** INTERACTION CONTENT ***/
.content-add,
.content-update {
    display: none;
    
    &.is-active {
        display: block;
        margin-bottom: 2rem;
    }
    
    &:has(+ .dashboard-list) {
        margin-bottom: 2.5rem;
    }
}

.content-add {
    border-bottom: 1px solid $secondary-color-light;
}

.content-update {
    border: 1px solid $admin-primary;
    background-color: $web-grey-1;
    padding: 1rem;
    
    .dashboard-list-elements.layout-col-3 & {
        grid-column: span 3;
    }
}

form.content-delete {
    margin: 1rem auto 3rem;
    width: fit-content;
    
    .footer-dashboard & {
        margin: 0;
    }
}




.dashboard-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    @include tablet {
        gap: 1rem;
    }
    
}

.dashboard-list-elements {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    
    &.layout-col-2 {
        grid-template-areas:
                "element"
                "button";
        @include tablet {
            grid-template-columns: 1fr auto;
            grid-template-areas:
                    "element button";
        }
    }
    &.layout-col-3 {
        grid-template-columns: auto auto;
        grid-template-areas:
                "element element"
                "icon button";
        
        @include tablet {
            grid-template-columns: auto 1fr auto;
            grid-template-areas:
                    "icon element button";
        }
    }
    
    &.is-draggable {
        padding-left: 2rem;
        opacity: .6;
        cursor: move;
        
        &:before {
            position: absolute;
            left: 0;
            
            display: inline-flex;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 1em;
            
            font: var(--fa-font-sharp-solid);
            content: '\f0b2';
        }
        
        .list-cta {
            pointer-events: none;
        }
    }
    
    &.list-user {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        grid-template-areas:
                    "delete name buttons";
        @include mobile-max {
            grid-template-columns: auto 1fr;
            grid-template-areas:
                    "delete name"
                    "buttons buttons";
        }
        
        .list-user-delete {
            grid-area: delete;
        }
        
        .user-name {
            grid-area: name;
        }
        
        .list-user-type {
            grid-area: buttons;
        }
    }
    
    .content-icon {
        grid-area: icon;
    }
    
    .content-element {
        grid-area: element;
    }
    
    .content-btn {
        grid-area: button;
    }
    
    .element-title {
        @include font-family-reading;
        @include font-style(400, 1.25rem, 1.5em, $secondary-color);
        text-align: center;
        @include tablet {
            text-align: unset;
            font-size: 1rem;
        }
        
        span {
            font-weight: 700;
        }
    }
    
    &.user-hide {
        display: none;
    }
}

.d-form-wrapper {
    display: flex;
    flex-direction: column;
}

.actu-img-upload {
    width: 100%;
    max-width: 320px;
    @include mobile-max {
        max-width: unset;
    }
    
    img {
        width: 100%;
    }
}

span.logo-mini {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    
    img {
        width: 100%;
    }
}


/*************************************
USERS
*************************************/
.user-name {
    width: 100%;
    @include font-family-heading;
    @include font-style(400, .875rem, 1em, $secondary-color-dark);
    
    span {
        font-weight: 600;
        color: $secondary-color-darker;
    }
}

.cta-user {
    input[type="submit"] {
        min-width: unset;
        text-align: center;
        padding: .5rem .75rem;
        background-color: $admin-primary-lighter;
        border-radius: 2rem;
        @include font-family-heading;
        @include font-style(400, .75rem, 1em, $admin-primary);
        transition: all .3s ease;
        
        &:hover {
            background-color: $admin-primary-light;
            color: white;
        }
    }
    
    &.activate input[type="submit"] {
        background-color: $admin-primary;
        color: white;
        
        &:hover {
            pointer-events: none;
        }
    }
    
    &.delete input[type="submit"] {
        background-color: $color-error;
        color: white;
        
        &:hover {
            background-color: $color-error-darker;
        }
    }
}







/*************************************
ALBUMS
*************************************/
.list-img-album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-block: 2rem 4rem;
    @include tablet {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
    
    .img-vignette {
        width: 100%;
        position: relative;
        
        .btn-delete {
            position: absolute;
            top: .5rem;
            left: .5rem;
            z-index: 2;
            padding: .5rem;
        }
    }
    
    img {
        width: 100%;
        max-width: 100%;
    }
}







/*************************************
ALBUMS
*************************************/
.list-img-sponsors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-block: 2rem 4rem;
    @include tablet {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
    
    .img-vignette {
        width: 100%;
        max-height: 120px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .btn-delete {
            position: absolute;
            top: .5rem;
            left: .5rem;
            z-index: 2;
            padding: .5rem;
        }
    }
    
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}