/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [design-system.scss]
* DESCRIPTION: Elements from the design system of Revolution FC
*
*/


/*************** DESIGN SYSTEM ***************/


/***********************
DESIGN SYSTEM – Alert message box
***********************/
.w-alert-message {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-alert-popup;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    padding: 16px;
    background-color: rgba($bg-body, 0.7);
    box-sizing: border-box;
    
    .alert-message {
        max-width: 600px;
        padding: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        @include font-family-reading;
        @include font-style(400, 1.25rem, 1.5em, $web-grey-6);
        border: 1px solid #2e2e2e;
        @include desktop {
            padding: 4rem;
        }
        
        i {
            color: $alert-2;
            padding: 0 0 16px;
            font-size: 2em;
        }
        
        &.alert-info {
            background-color: $popup-color;
            border-color: darken($popup-color, 30%);
            color: white;
            
            i {
                color: white;
            }
        }
        
        &.alert-correct {
            background-color: $color-correct;
            border-color: darken($color-correct, 30%);
            color: white;
            
            i {
                color: white;
            }
        }
        
        &.alert-error {
            background-color: $color-error;
            border-color: darken($color-error, 20%);
            color: white;
            
            i {
                color: white;
            }
        }
        
        span {
            margin-top: 16px;
        }
    }
    
    .close-alert-box {
        grid-column: span 2;
        cursor: pointer;
        text-decoration: underline;
    }
    
}







/***********************
DESIGN SYSTEM – CARDS
***********************/
.news-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .3s ease;
    transform: translateY(0);
    
    @include tablet {
        gap: 1rem;
        grid-template-columns: 200px 1fr;
    }
    @include desktop {
        grid-template-columns: 1fr;
    }
    
    &:hover {
        @include mobile-large {
            cursor: pointer;
            opacity: .7;
            transition: opacity .3s ease;
        }
        @include desktop {
            transform: translateY(-.5rem);
            transition: all .3s ease;
        }
    }
    
    &-img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 3/2;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &-vignette {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        padding: 0;
    }
    
    &-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .5rem;
    }
    
    &-headline {
        margin: 0;
    }
}

.news-category {
    @include font-style(600, .75rem, 1em, white);
    @include font-family-reading();
    padding: .5rem .75rem;
    background-color: $primary-color-3;
    display: inline-block;
    text-transform: uppercase;
}







/***********************
DESIGN SYSTEM – Buttons
***********************/
.button {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    
    @include font-family-reading;
    text-align: center;
    //border-radius: 1rem;
    transition: all .3s ease;
    
    &:hover {
        cursor: pointer;
    }
    
    @include mobile-max {
        width: 100%;
    }
    
    .dashboard & {
        border-radius: .5rem;
    }
}

.btn-primary {
    @extend .button;
    padding: 1.25rem 2rem;
    @include font-style(400, 1.125rem, 1em, white);
    background-color: $primary-color-1;
    @include mobile-max {
        padding: 1rem;
    }
    @include tablet {
        font-size: 1.25rem;
    }
    
    @include tablet {
        &:hover {
            background-color: darken($primary-color-1, 20%);
        }
    }
    
    &.small {
        font-size: .875rem;
        padding: .75rem 1.25rem;
    }
    
    &.btn-update {
        background-color: $color-error;
        @include tablet {
            &:hover {
                background-color: darken($color-error, 20%);
            }
        }
    }
    
    &.btn-confirm,
    &.cta-add {
        background-color: $color-correct;
        justify-self: center;
        @include tablet {
            &:hover {
                background-color: darken($color-correct, 20%);
            }
        }
    }
    
    &.btn-delete,
    &.btn-cancel,
    &.btn-disable,
    &.btn-activate,
    &.btn-revert {
        background-color: rgb(238, 241, 247);
        color: rgb(67, 76, 87);
        @include tablet {
            &:hover {
                color: $color-error;
            }
        }
    }
    
    &.cta-back {
        background-color: $alert-1;
        color: $web-grey-6;
        
        @include tablet {
            &:hover {
                background-color: $alert-2;
            }
        }
        
        &:before {
            font: var(--fa-font-sharp-regular);
            content: '\f344';
            font-size: .875em;
        }
    }
    
    span.is-hide-mobile {
        @include mobile-max {
            display: none;
        }
    }
}

.btn-secondary {
    @extend .button;
    padding: 1.25rem 2rem;
    @include font-style(400, 1.125em, 1em, $secondary-color-1);
    border: 1px solid $secondary-color-1;
    @include mobile-max {
        padding: 1rem;
    }
    @include tablet {
        font-size: 1.25rem;
    }
    
    @include tablet {
        &:hover {
            border-color: darken($secondary-color-1, 15%);
            color: darken($secondary-color-1, 15%);
        }
    }
    
    &.small {
        font-size: .875rem;
        padding: .75rem 1.25rem;
    }
    
    &.ghost-white {
        color: white;
        border-color: white;
        
        &:hover {
            border-color: $primary-color-3;
            color: $primary-color-3;
        }
    }
    
}
.btn-tertiary {
    @extend .button;
    
    @include font-style(400, 1.25em, 1em, $primary-color-2);
    padding: 0;
    margin: 1.5rem 0;
    &:hover {
        color: $primary-color-1;
    }
    
    .dashboard & {
        margin: 0;
    }
    &.btn-light {
        color: white;
    }
    
    &.small {
        font-size: .875rem;
    }
    
    &.cta-add {
        color: $color-correct;
        &:hover {
            color: darken($color-correct, 20%);
        }
    }
    &.btn-disable,
    &.btn-delete,
    &.btn-cancel,
    &.btn-activate,
    &.btn-revert {
        color: $web-grey-3;
        &:hover {
            color: $color-error;
        }
        @include mobile-max {
            background-color: $web-grey-3;
            color: white;
            &:hover {
                color: unset;
            }
        }
    }
    
    &.btn-update {
        color: $primary-color-1;
        &:hover {
            color: darken($primary-color-1, 20%);
        }
    }
}



.btn-filter {
    @extend .button;
    gap: .5rem;
    
    @include font-style(400, .875rem, 1em, $primary-color-1);
    padding: 0;
    .btn-filter-select & {
        color: $secondary-color-1;
        text-transform: uppercase;
        
        &.is-inactive {
            color: $tertiary-color-1;
            &:hover {
                color: $secondary-color-1;
            }
        }
    }
    
    &.is-inactive {
        opacity: .5;
        color: $tertiary-color-1;
        &:hover {
            opacity: 1;
            color: $primary-color-1;
        }
    }
}


.btn-download {
    @extend .button;
    background: #D0D3D4;
    @include font-style(400, .875rem, 1em, white);
    padding: .75rem 1.25rem;
    @include mobile-max {
        width: unset;
    }
    
    &:hover {
        background: $primary-color-1;
    }
}

.is-inactive > * {
    opacity: 0.2;
    &:after {
        .menu & {
            content: " (pas encore disponible)";
        }
    }
    h4:after {
        content: " (pas encore disponible)";
    }
}









/***** DROPDOWN *****/
select {
    width: 100%;
    background-color: white;
    padding: .5rem 2.5rem .5rem 1rem;
    border: 1px solid #d3d3d3;
    @include font-family-reading;
    @include font-style(400, 1rem, 1.3em, $web-grey-6);
}

.select-dropdown {
    position:relative;
    width: 100%;
    max-width:220px;
    margin: 0 auto 2rem;
    &.contact {
        margin-left: 0;
        width: fit-content;
        max-width: inherit;
    }
    &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        top:0; right: 0;
        z-index:3;
        
        height:100%;
        width:2rem;
        
        font-family: "Font Awesome 6 Pro";
        font-size: 2em;
        font-weight: 300;
        color: #ffffff;
        content: "\f107";
        background-color:  $secondary-color-1;
    }
    
    .dashboard & {
        margin: 0 0 1rem;
        min-width: 220px;
        max-width: unset;
        
        select {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: white;
            padding: 8px 16px;
            box-sizing: border-box;
            color: #312828;;
            border: 1px solid #d3d3d3;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            font: 16px/1.45em 'roboto', sans-serif;
            
            &:focus {
                border-color: $alert-4;
            }
        }
    }
}





/****** FORMS ******/
#wrapper-form input {
    background-color: white;
    border: 1px solid $web-grey-3;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem ;
    outline: none;
    @include font-family-reading();
    @include font-style(300, 1rem, 1em, $web-grey-4);
    text-align: left;
    
    &:focus {
        border-color: $alert-4;
    }
    
    &[type="submit"] {
        display: block;
        background-color: $secondary-color-1;
        border:none;
        max-width: 320px;
        margin:1rem auto;
        padding: 1rem 1.5rem;
        color: white;
        font-weight: normal;
        font-size: 1.25rem;
        text-align: center;
        cursor:pointer;
        &.cta-send {
            &:after {
                font-family: "Font Awesome 6 Pro";
                content:'\f30b';
                font-weight: 400;
                font-size: 1em;
                margin-left: .5rem;
            }
        }
    }
}

#wrapper-form textarea {
    background-color:white;
    outline: none;
    height:190px;
    width:100%; max-width:100%;
    margin: 1rem 0;
    padding: 1rem;
    font:400 1em "roboto", sans-serif;
    border: 1px solid #b6b4b5;
    
    &:focus {
        border-color: $alert-4;
    }
}
.recaptcha div {
    margin:0 auto;
}