@import "media-queries";
@import "mixins";
@import "variables";



/**********
SECTION FEMININES
**********/
.f-menu {
  width:100%;
  background-color: #FFFFFF;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e2e2;
  position: relative;

  .f-nav {
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    overflow-x: scroll;
    @include mobile-medium {
      justify-content: center;
    }

    .menu-type-f {
      display: none;
      @include font-family-heading();
      @include font-style(400, 16px, 1em, $web-grey-3);
      padding: 24px 0;
      border-bottom: 4px solid #ffffff;
      @include tablet {
        display: block;
      }
    }

    li {
      @include font-family-heading();
      @include font-style(400, 16px, 1em, $accent-color-2);
      padding: 24px 16px;
      margin: 0 8px;
      border-bottom: 4px solid #ffffff;
      text-align:center;
      white-space: nowrap;
      &:hover {
        color: $accent-color-1;
        border-bottom: none;
        transition: all .3s ease;
        @include mobile-xlarge {
          border-bottom: 4px solid $accent-color-1;
        }
      }
    }

  }

}
.team-hero {
  padding: 0 !important;

  .team-hero-image {
    width:100%;
    height: 240px;
    overflow: hidden;
    background-color: $accent-color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    @include mobile-large {
      height: 320px;
    }
    @include tablet {
      height: 400px;
    }
    @include desktop {
      height: 500px;
    }
  }

  .team-poster {
    width: 100%;
    max-width: 1200px;
    height:100%;
    img {
      width:100%;
      margin: 0 auto;
    }
    &.cover_image {
      max-height:500px;
    }
  }

}


/* SCORE BOXES */
.score-box {

  .score-box-title {
    margin-bottom: 24px;
    align-items: center;

    h3 {
      text-transform: none !important;
      margin-bottom: 0;
    }

  }

}
.score-box-container {
  background-color: white;
  border-top: 4px solid $accent-color-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  padding: 16px;
  box-sizing: border-box;

  .score-box-date {
    text-transform: none;
    text-align:center;
  }
  .score-box-field {
    margin: 16px 0;
    text-align: center;
  }
  .score-box-game {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    > div {
      width: calc( 100% / 3);
      max-width: 180px;
      padding: 0 8px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      &.score-box-scoreboard {
        flex-flow: row nowrap;
        justify-content: space-around;
      }

      h5 {
        padding-top: 8px;
      }

      .game-result {
        padding: 0;
        margin: 4px;
        @include font-family-heading();
        @include font-style(700, 50px, 1em, $web-grey-3);
        @include mobile-large {
          padding: 8px;
        }
        &.fss {
          color: $accent-color-1;
        }
      }
    }

    .team_logo img {
      width: 100%;
      max-width: 120px;
      height: 100%;
      max-height: 120px;
    }

  }
}
.score-box-cta {
  display: flex;
  flex-flow: row nowrap;
  * {
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
  }
  > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      width: 60%;
      padding: 16px;
      box-sizing: border-box;
      background-color: #343741;
      color: white;
      text-align:center;
    }
    &:last-child {
      width: 40%;
      padding: 16px;
      box-sizing: border-box;
      text-align: center;
    }
  }
  #previous-game & {
    > *:last-child {
      background-color: $accent-color-1;
      color: white;
    }
    .inactivate {
      opacity: .4;
    }
    h4 {
      color: white;
    }
  }
  #next-game & {
    > *:last-child {
      background-color: #A9ABAC;
      h4 {
        color: $web-grey-5;
      }
    }
  }
  h4 {
    @include line-clamp(1);
  }
}


/* TEAM ROSTER */
.roster-menu {
  width:100%;
  background-color: #f0f0f0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e2e2;
  position: relative;

  .roster-nav  {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between;
    position: relative;
    padding: 8px 0;
    li {
      background-color: #f0f0f0;
      font: 500 16px 'Roboto Condensed', sans-serif;
      color: #312828;
      padding: 16px;
      margin: 0 8px;
      border: 1px solid #e2e2e2;
      text-transform: uppercase;
      text-align:center;
      &.selected {
        background-color: #FFFFFF;
        transition: background-color .3s ease;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.team-roster {
  width: 100%;
  margin:0 auto;
  .wrapper {
    flex-shrink: 0;
    transform: translateX(0);
    transition: all .3s ease;
    &.slide {
      transform: translateX(-100%);
      transition: all .3s ease;
    }
  }
}
.top-player-content {
  width: 100%;
  height: auto;
  padding:16px;
  box-sizing: border-box;
  border-top: 4px solid $accent-color-1;
  background-color: white;
}
.roster-position {
  > h2 {
    text-transform: none;
    padding:64px 0 24px;
  }
}
span.square-before {
  padding:  12px;
  margin-right: 16px;
  box-sizing: border-box;
  background-color: $web-grey-5;
  color:white;
  .player-desc & {
    background-color: $accent-color-1;
  }
  @include mobile-large {
    background-color: $accent-color-1;
  }
}


/***** PLAYERS PROFILE *****/
/* Top section HERO image */
section.player-hero,
section.player-wrapper {
  padding: 0 !important;
}

.player-content {
  height:320px;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @include mobile-large {
    height: 380px;
  }
  @include mobile-xlarge {
    height: 420px;
  }
  @include tablet {
    height: 600px;
  }

  .player-hero-name {
    display: none;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index:1;
    background-color: rgba(0,0,0,.50);

    @include mobile-xlarge {
      display: flex;
    }

    .player-hero-fn {
      @include font-family-heading();
      @include font-style(400, 2.25vw, 1.2em, white);
      text-transform: uppercase;
    }
    .player-hero-ln {
      @include font-family-heading();
      @include font-style(700, 12vw, 1.2em, $accent-color-1);
      text-transform: uppercase;
    }
  }

}
.player-details {
  display: grid;
  grid-template-columns: 1fr;
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
}
.player-picture {
  display: none;
  @include tablet {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  img {
    width: 100%;
    @include tablet {
      img {
        height: 100%;
      }
    }
  }
}
.player-desc {
  display: grid;
  align-self: start;
  box-sizing: border-box;
  padding: 16px 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          "name"
          "info"
          "position"
          "stats";
  @include mobile-large {
    padding: 32px 0;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas:
          "name name"
          "info position"
          "stats stats";
  }
  @include tablet {
    padding: 16px;
  }
  @include desktop {
    padding: 32px;
  }

  h2 {
    grid-area: name;
    margin-bottom: 16px;

    span.player-name {
      display: inline-block;
      @include mobile-xlarge {
        display: none;
      }
    }

  }

  .player-info {
    grid-area: info;
    margin: 16px 0;

    h5 {
      padding:  0;
      color: $web-grey-3;
      span {
        color: $web-grey-5;
      }
    }
  }

  .player-position {
    grid-area: position;
    margin: 16px 0;
    img {
      width: 100%;
      max-width: 240px;
    }
    h5 {
      padding: 16px 12px;
      box-sizing: border-box;
    }
  }

  .player-stats {
    grid-area: stats;
    margin:  16px 0;
    box-sizing: border-box;
    h3 {
      background-color: $accent-color-1;
      color: white;
      padding: 8px 16px;
      border-top: 4px solid $web-grey-5;
    }

    .player-stats-details {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      grid-gap: 8px;
      padding: 4px 8px;
      justify-items: center;
      &.header-column {
        background-color: transparent;
      }
      h6:first-child {
        justify-self: start;
      }
    }
  }
}
.flag-icon {
  width: 32px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-left : 8px;
  img {
    width: 100%;
  }
}



/********************
CALENDAR
********************/
.team-calendar {
  background-color:#eef1f6;
  .select-dropdown {
    margin: 16px auto;
    box-sizing: border-box;
  }
  li {
    width:100%;
    padding: 0 ;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    &:first-of-type {
      border-top: 1px solid #e2e2e2;
    }
  }
}
.f_calendar_content {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 960px;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
  @include tablet {
    flex-flow: row nowrap;
  }

  .f_calendar_plus {
    font-size: 24px;
    width: 24px;
    position: absolute;
    top: 12px; right:8px; left: inherit;
    box-sizing: border-box;
    color: $web-grey-5;
    cursor: pointer;
    @include tablet {
      font-size: 40px;
      width: 60px;
      position: relative;
      top: inherit; right: inherit;
    }
    &:hover {
      color: $accent-color-1;
      transition: all .3s ease;
    }
    i {
      transform: rotate(0);
      transition: all .3s ease;
    }
    &.clicked i {
      transform: rotate(45deg);
      transition: all .3s ease;
      color: $accent-color-1;
    }
  }
  .f_calendar_competition {
    width: 100%;
    padding: 0 0 8px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    @include mobile-large {
      padding: 0 16px;
    }
    @include tablet {
      width: calc(35% - 60px);
      max-width: 240px;
      flex-flow: column wrap;
      justify-content: inherit;
    }

    > div {
      padding: 2px 4px;
    }
    .f_competition_name {
      @include font-style(400, 14px, 1.2em, $accent-color-1);
      @include font-family-heading();
      text-transform: uppercase;
      &:after {
        content: ' —';
      }
      @include tablet {
        font-size: 16px;
        &:after {
          content: none;
        }
      }
    }
    .f_calendar_date {
      @include font-family-reading();
      @include font-style(400, 14px, 1em, $web-grey-6);
      &:first-letter {
        text-transform: uppercase;
      }
    }

  }
  .f_calendar_scoreboard {
    width: calc(60% - 60px);
    padding: 8px;
    box-sizing: border-box;
    display: none;
    grid-template-columns: 2fr 3fr 1fr;
    grid-gap: 8px;
    align-items: center;
    justify-content: center;
    @include tablet {
      display: grid;
    }

    .team {
      display:flex;
      .team_logo {
        width: 48px;
        @include mobile-medium {
          width: 60px;
        }
        &.away {
          margin-left: -26px;
        }
        &.opponent {
          z-index: 2;
        }
        &.fss_logo {
          z-index: 3;
        }
        img {
          width: 100%;
        }
      }
    }
    .game_team {
      width: 100%;
    }
  }
  .game_cta {
    position: relative;
    right: inherit;
    @include mobile-max {
      display: none;
    }
  }

  /* version mobile du calendrier */
  .f_calendar_scoreboard-mobile {
    display: flex;
    @include tablet {
      display: none;
    }
    width: 100%;
    align-items: center;
    text-align: center;

    .game-team-mobile {
      display: flex;
      flex: 1 1 1rem;
      flex-flow: column;
      text-align: center;
      align-items: center;
      padding: 8px;
      .game-team-crest {
        width: 48px;
        margin-bottom: 4px;
        padding: 4px;
        img {
          width: 100%;
        }
      }
    }
    .fixture-score-mobile {
      margin-left: auto;
      margin-right: auto;
      flex: 0 0 90px;
      @include font-family-heading();
      @include font-style(700, 2.5rem, 1em, $web-grey-6);
      display: flex;
      justify-content: space-around;
      letter-spacing: -2px;
    }
  }
}
.game_team_name,
.game_score_goal {
  @include font-family-heading();
  @include font-style(400, 14px, 1.25em, $accent-color-2);
  text-transform: uppercase;
  &.fss {
    color: $accent-color-1;
  }
  @include tablet {
    font-size: 16px;
  }
}
.calendar-info {
  width: 100%;
  background-color: white;

  .calendar-info-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 32px 16px;
    box-sizing: border-box;
    @include tablet {
      flex-flow: row nowrap;
      align-items: flex-start;
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  .calendar-info-tab {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    @include mobile-medium {
      width: 90%;
    }
    @include mobile-large {
      width: 80%;
    }
    @include mobile-xlarge {
      width: 70%;
    }
    @include tablet {
      width: 20%;
    }
  }

  .calendar-info-latest_5 {
    display: flex;
    flex-flow: row nowrap;
    > div {
      margin: 4px;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      &.game-victory {
        background-color: $alert-4;
      }
      &.game-tie {
        background-color: $web-grey-2;
      }
      &.game-defeat {
        background-color: $accent-color-1;
      }

      &:first-child {
        margin-left:0;
      }
    }
  }
}



/********************
MATCH Details
********************/
.matchday-banner_scorer {
  margin-top: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#matchday-banner {background-color:#131313;}

.matchday-banner-content {
  width:100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 32px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #777;
}
.matchday-banner_top-label {
  background-color: #596377;
  font: 700 18px/1em 'Roboto condensed', sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 8px 16px;
  display: inline-block;
  margin: 0 auto;
}
.matchday-banner_details {
  margin: 32px auto 16px;
  text-align: center;
}

.matchday-banner_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 40px;
}
.banner_team { flex-basis: 140px; width: 140px; text-align :center;}
.banner_crest { width: 100%; max-width: 120px; margin: 0 auto;}
.banner_crest img { width: 100%;}
.banner_team h4 { margin-top: 16px; color:#a9abac; line-height: 1.45em;}
.banner_central {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
.banner_score {
  font: 700 120px/1em 'roboto condensed', sans-serif;
  color: white;
}
.banner_competition {
  margin-top: 24px;
  font: 400 18px/1.45em 'Roboto', sans-serif;
  color: white;
  text-align: center;
}


/**** STATS DU MATCH *****/
.matchday-stats {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.matchday-stats h3 {margin-bottom: 40px;}
.matchday-stats_tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.matchday-stats_tabs h4 { text-transform: none !important;}
.matchday-stats_details {
  width: 80%;
  display: flex;
  justify-content: center;
}
.matchday-stats_details > div {	margin: 8px;}
.stats_bar {
  width: 100%;
  background-color: #e2e2e2;
  margin: 0 8px;
  display:flex
}
.stats_bar_fss {background-color: $accent-color-1; }
.stats_bar_opp {background-color: #777777; }
.matchday-stats_details .stats_bar:first-child  {justify-content: flex-end;}
.stats_fss {
  width: 48px;
  background-color: $accent-color-1;
  padding: 8px 12px;
  font: 500 26px/1em 'roboto condensed', sans-serif;
  color: white;
  text-align:center;
}
.stats_opp {
  width: 48px;
  background-color:#a9abac;
  padding: 8px 12px;
  font: 700 26px/1em 'roboto condensed', sans-serif;
  color:#343741;
  text-align:center;
}

#matchday-history {
  background-color: $accent-color-1;
  padding: 32px 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}
.matchday-history_head {
  padding: 40px 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.matchday-history_head > * { padding: 24px;}
span.matchday-history_num { font-size: 4em;}
span.matchday-history_buts { font-size: 2.5em;}

.matchday-last_games {
  width: 100%;
  padding: 32px;
  /*background-color:#343741;*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  > * {
    width: 40px; height: 40px;
    margin: 4px;
    @include font-family-heading();
    @include font-style(700, 20px, 1em, white);

    -moz-border-radius: 50%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &.game-victory {
      background-color: $alert-4;
    }
    &.game-tie {
      background-color: $web-grey-2;
      color: $web-grey-6;
    }
    &.game-defeat {
      background-color: $accent-color-1;
    }
  }
}
