/*
*
* LOCATION: [core]
* FOLDER: [assets/scss]
* FILE NAME: [layout.scss]
* DESCRIPTION: layout elements of the website
*
*/


/****************************************
GENERAL LAYOUT
****************************************/
body {
    font-size: 16px;
    background-color: $bg-body;

    * {
        box-sizing: border-box;
    }
}

img {
    width: 100%;
    height: auto;
}

/*** For extend ***/
.web-layout {
    width: 100%;
    max-width: $website-max-width;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.flex-layout {
    display: flex;
}

/*******************************************************
GRID SYSTEM
*******************************************************/
.grid-system,
.grid-layout {
    width: 100%;
    display: grid;
    gap: 1rem;
    @include tablet {
        gap: 1.5rem;
    }
    @include desktop {
        gap: 2.5rem;
    }
    
    &.field-filter {
        gap: .5rem;
    }
    
    &.list-people {
        gap: 2rem;
        @include tablet {
            gap: 2.5rem 1.5rem;
        }
        @include desktop {
            gap: 3.5rem 2.5rem;
        }
    }
    
    &.col-2 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    &.col-3 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
        
        &.t1 {
            @include tablet {
                grid-template-columns: 1fr;
            }
        }
    }
    
    &.col-12 {
        grid-template-columns: repeat(4, 1fr);
        @include tablet {
            grid-template-columns: repeat(6, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(12, 1fr);
        }
    }
}


/*******************************************************
VARIABLES
*******************************************************/
$space-m: 2rem;
$space-t: 3rem;
$space-d: 5rem;
$space-dl: 8rem;


main.w-content {
    padding-top: 6rem;
    
    .w-home & {
        @include mobile-max {
            padding-top: 0;
        }
    }
}


/*******************************************************
LAYOUT ELEMENTS
*******************************************************/
section {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    @include mobile-xlarge {
        padding: 4rem 0;
    }
    
    &.w-hero,
    &.wrapper-full {
        padding: 0;
    }
    
    &:first-of-type:not(.w-hero) {
        @include tablet {
            padding-top: 4rem;
        }
    }
    
    &:only-child {
        min-height: 800px;
    }
    &.contact {
        background-color: $web-grey-1;
    }
}

article {
    @extend .web-layout;
    
    padding: 0 $space-m;
    margin-bottom: 4rem;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    @include tablet {
        padding: 0 $space-t;
    }
    @include desktop {
        padding: 0 $space-d;
    }
    
    &.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &.align-top {
            justify-content: flex-start;
        }
        
        &.align-center {
            justify-content: center;
        }
        
        &.align-end {
            justify-content: flex-end;
        }
        
        &.bg-img-content {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .w-hero &,
        .wrapper-full & {
            max-width: inherit;
            
            &:not(:only-child) {
                margin-bottom: 0;
            }
            
            &.bg-img-content {
                justify-content: center;
                height: 80dvh;
                @include tablet {
                    min-height: 520px;
                    max-height: 70dvh;
                    justify-content: flex-end;
                }
                @include desktop-large {
                    height: 70dvh;
                }
            }
        }
        
        
    }
    
    &.wrapper-full {
        max-width: unset;
    }
    
    &.wrapper-text {
        max-width: $text-content-max-width;
    }
}

.flash-alert {
    max-width: unset;
    background: $primary-color;
    display: grid;
    gap: .5rem;
    
    padding: 1.5rem;
    @include tablet {
        padding: 0 5rem;
        grid-template-columns: auto 1fr;
    }
    
    &.urgent {
        background: $color-error;
    }
}

figure {
    margin-bottom: 2rem;
    
    img {
        width: 100%;
    }
}


/*******************************************************
COOKIES Popup
*******************************************************/
.cookie-popup {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: $z-alert-popup;
    
    padding: 2rem;
    width: 80%;
    max-width: $popup-width-large;
    @include border-radius-uniform(1.5rem);
    background: $popup-color-2;
    border: 1px solid $primary-color;
    
    -webkit-box-shadow: 0 5px 20px -6px rgba(18, 18, 18, .4);
    -moz-box-shadow: 0 5px 20px -6px rgba(18, 18, 18, .4);
    box-shadow: 0 5px 20px -6px rgba(18, 18, 18, .4);
    
    @include mobile-max {
        right: 2rem;
        bottom: 2rem;
    }
    
    p {
        color: $popup-text-color-2;
        margin-bottom: .25rem;
    }
}

.cookie-cta {
    display: flex;
    gap: 2rem;
    place-self: flex-end;
    margin-top: 1rem;
    
    .btn-tertiary {
        margin: 0;
    }
}


/*******************************************************
FONCTIONS
*******************************************************/
.is-hide,
.is-hidden {
    display: none !important;
}

.only-mobile {
    @include tablet {
        display: none !important;
    }
}

.only-tablet {
    @include mobile-max {
        display: none !important;
    }
}