/*
*
* LOCATION: [core]
* FOLDER: [assets/scss]
* FILE NAME: [layout.scss]
* DESCRIPTION: layout elements of the website
*
*/


/****************************************
GENERAL LAYOUT
****************************************/
body {
    font-size: 16px;
    background-color: $bg-body;

    * {
        box-sizing: border-box;
    }
}

img {
    width: 100%;
    height: auto;
}

/*** For extend ***/
.web-layout {
    width: 100%;
    max-width: $website-max-width;
    margin: 0 auto;
    position: relative;
    
    
    &.flex-layout {
        display: flex;
    }
    &.grid-layout {
        display: grid;
        gap:1rem;
        @include tablet {
            gap: 1.5rem;
        }
        @include desktop {
            gap: 2.5rem;
        }
        &.field-filter {
            gap: .5rem;
        }
    }
    &.col-12 {
        grid-template-columns: repeat(4, 1fr);
        @include tablet {
            grid-template-columns: repeat(6, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(12, 1fr);
        }
    }
    
    &.col-2 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    &.col-3 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}




/*******************************************************
GRID SYSTEM
*******************************************************/
.grid-system {
    width: 100%;
    display: grid;
    gap: 1rem;
    @include tablet {
        gap: 1.5rem;
    }
    @include desktop {
        gap: 2.5rem;
    }
    
}

.grid-col-2 {
    grid-template-columns: 1fr;
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-col-3 {
    grid-template-columns: 1fr;
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
    
    &.t1 {
        @include tablet {
            grid-template-columns: 1fr;
        }
    }
    
}


/*******************************************************
VARIABLES
*******************************************************/
$space-m: 1.5rem;
$space-t: 2.5rem;
$space-d: 5rem;
$space-dl: 8rem;






/*******************************************************
LAYOUT ELEMENTS
*******************************************************/


/********* SECTION *********/
section {
    width:100%;
    margin:0 auto;
    padding: 2rem 0;
    @include mobile-xlarge {
        padding: 4rem 0;
    }
    &.w-hero {
        padding: 0 !important;
        height: 90dvh;
        max-height: 520px;
        @include tablet {
            max-height: 800px;
        }
        article {
            height: 100%;
            overflow: hidden;
        }
    }
    &:only-of-type {
        min-height: 800px;
    }
    &.contact {
        background-color: $tertiary-color-4;
    }
}





article {
    @extend .web-layout;
    
    padding: 0 1.5rem;
    margin-bottom: 4rem;
    &[class]:last-of-type {
        margin-bottom: 0;
    }
    
    @include tablet {
        padding: 0 2.5rem;
    }
    @include desktop {
        padding: 0 5rem;
    }
    
    &.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.align-top {
            justify-content: flex-start;
        }
        &.align-center {
            justify-content: center;
        }
        &.align-end {
            justify-content: flex-end;
        }
    }
    &.wrapper-full {
        max-width: inherit;
        padding: 0;
    }
    &.wrapper-text {
        max-width: 960px;
    }
}










/*******************************************************
ALERT BOXES
*******************************************************/
.w-alert-message {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-alert-popup;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    padding: 16px;
    background-color: rgba($bg-body, 0.7);
    box-sizing: border-box;
    
    .alert-message {
        max-width: 600px;
        padding: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        @include font-family-reading;
        @include font-style(400, 1.25rem, 1.5em, $web-grey-6);
        border: 1px solid #2e2e2e;
        @include desktop {
            padding: 4rem;
        }
        
        i {
            color: $alert-2;
            padding: 0 0 16px;
            font-size: 2em;
        }
        
        &.alert-info {
            background-color: $popup-color;
            border-color: darken($popup-color, 30%);
            color: white;
            
            i {
                color: white;
            }
        }
        
        &.alert-correct {
            background-color: $color-correct;
            border-color: darken($color-correct, 30%);
            color: white;
            
            i {
                color: white;
            }
        }
        
        &.alert-error {
            background-color: $color-error;
            border-color: darken($color-error, 20%);
            color: white;
            
            i {
                color: white;
            }
        }
        
        span {
            margin-top: 16px;
        }
    }
    
    .close-alert-box {
        grid-column: span 2;
        cursor: pointer;
        text-decoration: underline;
    }
    
}





/********* POPUP WINDOW *********/
.icon-left { padding-right: 8px;}
.popup-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0; left: 0; z-index: 12;
    padding: 1rem;
}
.popup-window {
    padding: 2rem;
    width: 100%; max-width: 840px;
    margin: 0 auto;
    height: auto;
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;

    @include mobile-max {
        padding: 1rem;
        margin: 120px auto;
    }
}
.popup-btn {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    padding: 1rem;
    border: 1px solid $primary-color-1;

    @include font-family-reading;
    @include font-style(300, 1.125rem, 1em, $primary-color-1);
    cursor: pointer;
}




/********* FONCTIONS *********/
.is-hide,
.is-hidden {
    display:none !important;
}

@include tablet {
    .only-mobile {
        display: none;
    }
}

@include mobile-max {
    .only-tablet {
        display: none;
    }
}


