/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [variables.scss]
*
*/

/*******************************************************
VARIABLES
*******************************************************/


$bg-body: #ffffff;

$text-content-max-width: 960px;





/*******************************************************
COLORS
*******************************************************/
/* BASICS */
$web-grey-1: #f2f2f2;
$web-grey-2: #d3d3d3;
$web-grey-3: #aca9a9;
$web-grey-4: #5f6369;
$web-grey-5: #343741;
$web-grey-6: #181818;

/* SPECIFIC BRAND */
$primary-color-1: #C4A84C;
//$primary-color-1: #FFCD00;
$primary-color-2: #181818;
$primary-color-3: #FFCD00;

$secondary-color-1: #2D3D32;
$secondary-color-2: #f2f2f2;
$secondary-color-3: #EFDBB2;

$tertiary-color-1: #949A90;
$tertiary-color-2: #C8C3B3;
$tertiary-color-3: #63666A;
$tertiary-color-4: #D0D3D4;

//$accent-color-1: #00B0AD;
//$accent-color-2: #008776;
$accent-color-1: $secondary-color-1;
$accent-color-2: $tertiary-color-1;
$accent-color-3: #ff1541;
$accent-color-4: #BA0F2F;

$alert-1: #fed624;
$alert-2: darken($alert-1, 15%);
$alert-3: #9bce7c;
$alert-4: #1ecd28;
$alert-5: #293D1D;

$admin-color-1: #072ac8;


/****** HEADER & FOOTER ******/
$header-height-small: 80px;
$header-height-large: 120px;
$bg-header-color: white;
$bg-sidemenu-color: $primary-color-2;
$bg-footer-color: $primary-color-2;



/****** DARK MODE *****/
$bg-body-dark: #181818;
$title-color-dark: white;
$reading-text: $web-grey-6;
$reading-text-dark: $web-grey-1;
$text-color-dark: $web-grey-1;




$popup-color: $primary-color-1;
$popup-text-color: white;
/****** Z-INDEX ******/
$z-top-menu: 4;
$z-mobile-menu: 4;
$z-side-menu: 5;

$z-alert-popup: 99;

$z-home-hero-overlay: 2;
$z-home-hero-content: 3;


/*******************************************************
ADMIN
*******************************************************/
$admin-color-1 : $secondary-color-3;
$admin-update: $tertiary-color-2;
$admin-confirm: #1ecd28;
$admin-delete: $tertiary-color-3;


/****** MESSAGES & ALERTS ******/
$color-info: #fed624;
$color-error: #EF233C;
$color-correct: #1ecd28;