/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [variables.scss]
*
*/

/*******************************************************
VARIABLES
*******************************************************/


$bg-body: #ffffff;
$text-content-max-width: 960px;


$space-m: 2rem;
$space-t: 2.5rem;
$space-d: 5rem;
$space-dl: 8rem;





/*******************************************************
COLORS
*******************************************************/
/* BASICS */
$web-grey-1: #f2f2f2;
$web-grey-2: #d3d3d3;
$web-grey-3: #aca9a9;
$web-grey-4: #5f6369;
$web-grey-5: #343741;
$web-grey-6: #181818;

/* SPECIFIC BRAND */
$primary-color-1: #d5c392;
$primary-color-2: #43474d;
//$primary-color-3: #FFCD00;

$secondary-color-1: #bdaa7c;
$secondary-color-2: #aba7a7;
$secondary-color-3: #d7d4d3;

$tertiary-color-1: #949A90;
$tertiary-color-2: #dbcca9;
//$tertiary-color-3: #63666A;
//$tertiary-color-4: #D0D3D4;



/****** MESSAGES & ALERTS ******/
$alert-1: #fed624;
$alert-2: #C2A031;
$alert-3: #9bce7c;
$alert-4: #1ecd28;
$alert-5: #293D1D;
$alert-6: #FF1541;
$alert-7: #BA0F2F;

$color-info: $alert-1;
$color-error: $alert-6;
$color-correct: $alert-4;

$admin-color-1: #072ac8;


/****** HEADER & FOOTER ******/
$header-height-small: 80px;
$header-height-large: 120px;
$bg-header-color: white;
$bg-sidemenu-color: $primary-color-2;
$bg-footer-color: $primary-color-2;

$side-menu-color: white;
$side-submenu-color: $tertiary-color-1;
$side-menu-accent: $primary-color-1;


/****** TITLES & TEXTS ******/
$reading-text: $web-grey-6;


/****** POPUP ******/
$popup-color: $primary-color-1;
$popup-text-color: white;
$popup-color-2: #f2f2f2;
$popup-text-color-2: $primary-color-2;
$popup-width-small: 320px;
$popup-width-large: 520px;


/*******************************************************
ADMIN
*******************************************************/
$admin-color-1 : $secondary-color-1;
$admin-alert: $alert-1;
$admin-confirm: $alert-4;
$admin-delete: $alert-6;
$admin-update: #eef1f7;
$admin-update-2: #434C57;



/*******************************************************
Z-INDEX
*******************************************************/
$z-home-hero-overlay: 2;
$z-home-hero-content: 3;
$z-top-menu: 4;
$z-side-menu: 5;
$z-alert-popup: 99;





