/*
*
* LOCATION: [scss]
* FOLDER: [modules]
* FILE NAME: [admin-tollbar.scss]
* DESCRIPTION: Styling for the filter tag in the admin section
*
*/


.w-toolbar {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
;
    padding-bottom: 2rem;
    border-bottom: 2px solid $secondary-color-light;
    margin-bottom:2rem;
    
    .toolbar-title {
        flex-grow: 1;
        flex-basis: 100%;
        margin: 0;
    }
}



.w-filter,
.w-legend {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}




// Filter
.filter-label {
    @extend .button;
    gap: .5rem;
    padding: .75rem 1.25rem;
    
    @include font-style(400, 1.125rem, 1em, $secondary-color);
    border: 1px solid $secondary-color;
    @include border-radius-uniform(.5rem);
    
    &:hover {
        color: $admin-primary-dark;
        background: $admin-primary-lighter;
        border-color: $admin-primary-dark;
    }
    
    &.is-active {
        background: $admin-primary-dark;
        border-color: $admin-primary-dark;
        color: white;
        &:hover {
            background: $admin-primary-darker;
            border-color: $admin-primary-darker;
        }
        &:before {
            font: var(--fa-font-sharp-regular);
            content: '\f00d';
            font-size: 1em;
        }
    }
    
}



// Legend
.legend-title {
    @include font-family-reading;
    @include font-style(400, .75rem, 1em, $secondary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}



.w-tooltips {
    position: relative;
    padding: 1rem;
    background: $admin-primary-lighter;
    border-radius: .5rem;
    border: 1px solid $admin-primary-darker;
    margin: 0 0 1rem;
    @include font-family-reading;
    @include font-style(400, .75rem, 1em, $admin-primary);
    
    .close-btn {
    
    }
}