/*
*
* LOCATION: [assets]
* FOLDER: [scss]
* FILE NAME: [admin-login.scss]
* DESCRIPTION: login page
*
*/



/*************************************
LOGIN PAGE
*************************************/
.w-login {
    width: 100%;
    min-height: 100dvh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    @include tablet {
        padding: 3rem;
    }
}

.login-error {
    @include font-family-reading;
    @include font-style(300, 1rem, 1.5em, $color-error);
}

.w-login-message {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    @include font-family-reading;
    @include font-style(300, 1rem, 1.5em, $color-error);
    
    background: $color-error-lighter;
    border-radius: .5rem;
    border: 1px solid $color-error-darker;
    
    span,
    a {
        font-weight: 700;
    }
}