/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [design-system.scss]
* DESCRIPTION: Elements from the design system of Revolution FC
*
*/


/*************** DESIGN SYSTEM ***************/


/***********************
DESIGN SYSTEM – Alert message box
***********************/
.w-alert-message {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-alert-popup;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    padding: 16px;
    background-color: rgba($bg-body, 0.7);
    box-sizing: border-box;
    
    .alert-message {
        width: 100%;
        max-width: 600px;
        padding: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        border: 1px solid #2e2e2e;
        @include desktop {
            padding: 4rem;
        }
        
        p {
            @include font-family-reading;
            @include font-style(400, 1.25rem, 1.5em, $web-grey-6);
            margin: 0;
            
            &.icon {
                &:before {
                    font: var(--fa-font-sharp-regular);
                    font-size: 2rem;
                }
            }
        }
        
        &.alert-info {
            background-color: $color-warning-lighter;
            border-color: $color-warning-dark;
            color: $color-warning;
            
            p {
                color: $color-warning;
            }
        }
        
        &.alert-correct {
            background-color: $color-success-lighter;
            border-color: $color-success-darker;
            color: $color-success-dark;
            
            p {
                color: $color-success-dark;
            }
        }
        
        &.alert-error {
            background-color: $color-error-lighter;
            border-color: $color-error-darker;
            color: $color-error;
            
            p {
                color: $color-error;
            }
        }
        
        span {
            margin-top: 16px;
        }
    }
    
    .close-alert-box {
        grid-column: span 2;
        cursor: pointer;
        text-decoration: underline;
        
        &:hover {
            opacity: .8;
        }
    }
    
}


/***********************
DESIGN SYSTEM – CARDS
***********************/
.news-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .3s ease;
    
    @include tablet {
        gap: 1rem;
        grid-template-columns: 200px 1fr;
    }
    @include desktop {
        grid-template-columns: 1fr;
    }
    
    &:hover {
        @include mobile-large {
            cursor: pointer;
            opacity: .7;
            transition: opacity .3s ease;
        }
        @include desktop {
            transition: all .3s ease;
        }
    }
    
    &-img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 3/2;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &-vignette {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        padding: 0;
    }
    
    &-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .5rem;
    }
    
    &-headline {
        margin: 0;
    }
}

.news-category {
    @include font-style(600, .75rem, 1em, white);
    @include font-family-reading();
    padding: .5rem .75rem;
    background-color: $primary-color;
    display: inline-block;
    text-transform: uppercase;
}

.card-events {
    
    &:not(.event-el) {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        flex-grow: 1;
        min-width: 320px;
        max-width: calc(50% - 2rem);
        padding: 2rem;
        
        border: 1px solid $web-grey-1;
        border-radius: .5rem;
        
        @include tablet {
            padding: 3rem;
        }
    }
    .event-date {
    
    }
    .event-title {
    
    }
    .event-venue {
    
    }
    [class*='btn-'] {
        flex-grow: 1;
    }
    
}


/***********************
DESIGN SYSTEM – Buttons
***********************/
.w-btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex: 1;
    @include tablet {
        margin-top: 3rem;
    }
}
.button {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    
    @include font-family-reading;
    text-align: center;
    border-radius: 3rem;
    transition: all .3s ease;
    
    &:hover {
        cursor: pointer;
    }
    
    @include mobile-max {
        width: 100%;
    }
    
    &.is-not-active {
        opacity: .2;
    }
    
    .dashboard & {
        border-radius: .5rem;
    }
}

.cta-back {
    &:before {
        font: var(--fa-font-sharp-regular);
        content: '\f344';
        font-size: .875em;
    }
}

.btn-primary {
    @extend .button;
    padding: 1.25rem 2rem;
    @include font-style(400, 1rem, 1em, white);
    background-color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include mobile-max {
        padding: 1rem;
    }
    
    @include tablet {
        &:hover {
            background-color: $primary-color-dark;
        }
    }
    
    &.small {
        font-size: .875rem;
        padding: .75rem 1.25rem;
    }
    
    &.btn-update {
        background-color: $admin-primary;
        @include tablet {
            &:hover {
                background-color: $admin-primary-darker;
            }
        }
    }
    
    &.btn-add {
        background-color: $color-success-lighter;
        border: 1px solid $color-success-light;
        color: $color-success-dark;
        justify-self: center;
        @include tablet {
            &:hover {
                background-color: $color-success;
                color: $color-success-darker;
            }
        }
    }
    
    &.btn-confirm,
    &.btn-validate {
        background-color: $color-success;
        color: $color-success-darker;
        justify-self: center;
        @include tablet {
            &:hover {
                background-color: $color-success-dark;
            }
        }
    }
    
    &.btn-delete,
    &.btn-cancel,
    &.btn-disable,
    &.btn-activate,
    &.btn-revert,
    &.btn-edit {
        background-color: $admin-update;
        color: $admin-update-2;
        @include tablet {
            &:hover {
                color: $color-error;
            }
        }
    }
    
    &.btn-edit.is-active {
        background: $color-error;
        color: white;
    }
    
    &.btn-card {
        color: rgb(238, 241, 247);
        background-color: rgb(67, 76, 87);
        @include tablet {
            &:hover {
                background-color: darken(rgb(67, 76, 87), 15%);
            }
        }
    }
    
    &.cta-back {
        background-color: $color-warning;
        color: $web-grey-6;
        
        @include tablet {
            &:hover {
                background-color: $color-warning-dark;
            }
        }
        
        &:before {
            font: var(--fa-font-sharp-regular);
            content: '\f344';
            font-size: .875em;
        }
    }
    
    span.is-hide-mobile {
        @include mobile-max {
            display: none;
        }
    }
}

.btn-secondary {
    @extend .button;
    
    padding: 1.25rem 2rem;
    @include font-style(600, 1rem, 1em, $secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid $secondary-color;
    @include mobile-max {
        padding: 1rem;
    }
    
    @include tablet {
        &:hover {
            border-color: $secondary-color-darker;
            color: $secondary-color-darker;
        }
    }
    
    &.small {
        font-size: .75rem;
        padding: .75rem 1.25rem;
    }
    
    &.large {
        font-size: 1.25rem;
    }
    
    &.btn-brand {
        border-color: $primary-color;
        color: $primary-color;
        
        &:hover {
            border-color: $primary-color-darker;
            color: $primary-color-darker;
        }
    }
    
    &.ghost-brand {
        border-color: $primary-color;
        color: $primary-color;
        
        &:hover {
            background: $primary-color-darker;
            border-color: $primary-color-darker;
            color: white;
        }
    }
    
    &.ghost-white {
        color: white;
        border-color: white;
        
        &:hover {
            background-color: white;
            color: $secondary-color-dark;
        }
    }
    
    &.btn-add {
        border-color: $color-success;
        color: $color-success;
        
        &:hover {
            border-color: $color-success-darker;
            color: $color-success-darker;
        }
    }
    
    &.btn-delete,
    &.btn-cancel,
    &.btn-disable,
    &.btn-activate,
    &.btn-revert {
        border-color: $secondary-color;
        color: $secondary-color;
        
        &:hover {
            border-color: $color-error;
            color: $color-error;
        }
    }
    
    .alert-message.alert-error & {
        color: $color-error;
        border-color: $color-error;
        
        &:hover {
            background-color: $color-error;
            color: white;
        }
    }
    
    .alert-message.alert-info & {
        color: $color-warning;
        border-color: $color-warning;
        
        &:hover {
            background-color: $color-warning;
            color: $web-grey-6;
        }
    }
    
    .alert-message.alert-correct & {
        color: $color-success;
        border-color: $color-success;
        
        &:hover {
            background-color: $color-success;
            color: $color-success-darker;
        }
    }
    
}

.btn-tertiary {
    @extend .button;
    
    @include font-style(400, 1.25em, 1em, $secondary-color);
    margin: 1.5rem 0;
    border-radius: 0;
    
    &:hover {
        color: $primary-color-dark;
    }
    
    .dashboard & {
        margin: 0;
        @include border-radius-uniform(0);
    }
    
    &.btn-text {
        margin: 0;
        justify-content: flex-start;
        color: $reading-text;
        
        &:hover {
            color: $primary-color-dark;
        }
    }
    
    &.btn-light {
        color: white;
    }
    
    &.small {
        font-size: .875rem;
    }
    
    &.btn-add {
        color: $color-success-light;
        
        &:hover {
            color: $color-success;
        }
    }
    
    &.btn-disable,
    &.btn-delete,
    &.btn-cancel,
    &.btn-activate,
    &.btn-revert {
        color: $web-grey-3;
        
        &:hover {
            color: $color-error;
        }
        
        @include mobile-max {
            &:hover {
                color: unset;
            }
        }
    }
    
    &.btn-update {
        color: $admin-primary-light;
        
        &:hover {
            color: $admin-primary;
        }
    }
    
}

.btn-filter {
    @extend .button;
    gap: .5rem;
    
    @include font-style(400, .875rem, 1em, $primary-color);
    padding: 0;
    
    .btn-filter-select & {
        color: $primary-color;
        text-transform: uppercase;
        
        &.is-inactive {
            color: $tertiary-color-1;
            
            &:hover {
                color: $primary-color;
            }
        }
    }
    
    &.is-inactive {
        opacity: .5;
        color: $tertiary-color-1;
        
        &:hover {
            opacity: 1;
            color: $primary-color;
        }
    }
}

.btn-download {
    @extend .button;
    background: $secondary-color;
    @include font-style(400, .875rem, 1em, white);
    padding: .75rem 1.25rem;
    @include mobile-max {
        width: unset;
    }
    
    &:hover {
        background: $primary-color;
        color: $primary-color-darker;
    }
}

.is-inactive > * {
    opacity: 0.2;
    
    &:after {
        .menu & {
            content: " (pas encore disponible)";
        }
    }
    
    h4:after {
        content: " (pas encore disponible)";
    }
}


/***** DROPDOWN *****/
select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background-color: white;
    padding: .75rem 1rem;
    //padding: .75rem 2.5rem .75rem 1rem;
    border: 1px solid #d3d3d3;
    border-radius: .5rem 0 0 .5rem;
    @include font-family-reading;
    @include font-style(400, 1rem, 1.3em, $web-grey-6);
}

.select-dropdown {
    position: relative;
    width: 100%;
    min-width: 220px;
    max-width: 320px;
    margin: 0 0 1rem;
    @include line-clamp(1);
    
    display: flex;
    
    &.contact {
        margin-left: 0;
        width: 100%;
        max-width: inherit;
    }
    
    .dashboard & {
        max-width: unset;
        
        select {
            padding: 2rem 4rem .5rem 1rem;
        }
    }
    
    label {
        position: absolute;
        top: .75rem;
        left: 1rem;
        z-index: 2;
        color: $secondary-color;
        letter-spacing: 2px;
    }
    
    select {
        font-size: 1.125rem;
        border-color: $secondary-color;
        color: $admin-update-2;
        background-color: lighten($primary-color, 5%);
        padding: .75rem 4rem .75rem 1rem;
        
        background-image: url('https://clients.chabertdesign.com/panel/assets/img/chevron-down-black.svg');
        background-size: 24px 24px;
        background-position: 95% center;
        background-repeat: no-repeat;
        
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}


/************************************
FORMS ELEMENT - block, labels, input & cta
************************************/
.w-form {
    display: grid;
    gap: 1rem;
    min-width: 400px;
    
    .g-recaptcha {
        width: fit-content;
        margin: 0 auto;
    }
    
    .btn-primary {
        margin: 2rem auto 0;
    }
    
    .contact & {
        width: 100%;
        max-width: 700px;
        @include mobile-max {
            min-width: unset;
        }
    }
}

.form-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
    &.column {
        justify-content: flex-start;
        flex-direction: column;
        gap: .5rem;
    }
}

label {
    @include font-family-heading;
    @include font-style(600, .75rem, 1em, $secondary-color);
    text-transform: uppercase;
    padding: 0;
}

input {
    width: 100%;
    padding: .75rem 1.5rem;
    
    @include font-family-reading;
    @include font-style(400, 1rem, 1em, $web-grey-5);
    
    background-color: white;
    border: 1px solid $web-grey-2;
    border-radius: .5rem;
    outline: none;
    
    &:hover {
        border-color: $web-grey-5;
    }
    
    &:focus {
        color: $web-grey-5;
        border-color: $primary-color;
    }
    
    &::placeholder {
        color: $web-grey-2;
    }
    
    &.prefilled {
        color: $web-grey-3;
        background: #f2f2f2;
    }
    
    &[type="submit"] {
        min-width: 320px;
        margin: 2rem auto;
        cursor: pointer;
        background-color: $primary-color;
        
        &:focus {
            color: white;
            border: none;
        }
        
        .dashboard & {
            margin: 0;
        }
    }
}

textarea {
    background-color: white;
    outline: none;
    height: 250px;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    @include font-family-reading;
    @include font-style(400, 1rem, 1.5em, $web-grey-5);
    border: 1px solid $web-grey-2;
    border-radius: .5rem;
    resize: none;
    
    &.small {
        height: 100px;
    }
    
    &:hover {
        border-color: $web-grey-5;
    }
    
    &:focus {
        color: $web-grey-5;
        border-color: $primary-color;
    }
    
    &.prefilled {
        color: $web-grey-3;
        background: #f2f2f2;
    }
}

.recaptcha div {
    margin: 0 auto;
}


/***********************
Lists
***********************/
.list-text {
    position: relative;
    margin-block: 1rem 2rem;
    margin-inline-start: 1rem;
    list-style-position: inside;
    
    li {
        @include font-family-reading;
        @include font-style(400, 1.125rem, 1.5em, $reading-text);
        margin-bottom: .25rem;
        list-style-type: disc;
        
        li {
            list-style-type: circle;
        }
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.list-people {
    
    .people-el {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        
        .list-people-function {
            @include font-family-heading();
            @include font-style(700, 1.5rem, 1em, $secondary-color);
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
        
        .list-people-img {
            margin-bottom: 1rem;
            width: 100%;
            aspect-ratio: 3/4;
            
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .list-people-name {
            @include font-family-heading();
            @include font-style(700, 1.125rem, 1em, $primary-color);
            text-transform: capitalize;
        }
        
        .list-people-legend {
            @include font-family-reading();
            @include font-style(400, .875rem, 1.5em, $secondary-color);
        }
        
        .list-people-email {
            margin-top: .5rem;
            @include font-family-reading();
            @include font-style(400, 1rem, 1em, $secondary-color-light);
        }
    }
}

.list-docs {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 1rem 4rem;
    @include tablet {
        gap: 1rem;
    }
    
    li {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
        @include tablet {
            gap: 3rem;
        }
        
        [class*='btn-'] {
            width: fit-content;
        }
    }
    
    span.docs-title {
        @include font-family-heading();
        @include font-style(400, 1rem, 1.5em, $reading-text);
        flex-grow: 1;
        flex-basis: 100%;
    }
}

.list-programs {
    @include mobile-max {
        gap: 3rem;
    }
    
    .program-element {
        position: relative;
        opacity: 1;
        transition: opacity .3s ease;
        
        &:hover {
            opacity: .8;
        }
        
        h2 {
            //text-transform: unset;
            font-size: 1.5rem;
            letter-spacing: 0;
            margin-bottom: .5rem;
            line-height: 1.3em;
            text-align: unset;
            color: $secondary-color;
        }
    }
    
    .program-img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        aspect-ratio: 3/2;
        margin-bottom: 1rem;
    }
    
    .btn-overlay-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
    }
}

.list-sponsors {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    
    align-items: center;
    justify-content: center;
    
    .sponsors-logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        flex: 1 1 100%;
        max-width: 40%;
        @include tablet {
            max-width: 20%
        }
        
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            width: auto;
            height: auto;
        }
    }
    
    &.sponsors-tournament {
        margin-bottom: 2rem;
        
        .sponsors-logo {
            max-width: 80%;
            @include tablet {
                max-width: 30%
            }
        }
    }
}
