/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [header.scss]
* DESCRIPTION: header style
*
*/

/****************************************
HEADER CSS -
****************************************/


/********** TOP HEADER **********/
.top-header {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-top-menu;
    
    display: grid;
    grid-gap: 0;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                    "logo hamburger";
    @include tablet {
        position: fixed;
        
        justify-items: center;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas:
                    "hamburger logo social";
        
        border-bottom: 2px solid $primary-color;
        background-color: $bg-header-color;
        //height: $header-height-large;
    }
    
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        
        &.header-nav {
            grid-area: hamburger;
            justify-content: flex-end;
            @include tablet {
                justify-content: flex-start;
            }
        }
        
        &.header-social {
            grid-area: social;
            background: $secondary-color;
            justify-self: flex-end;
            width: fit-content;
            justify-content: flex-end;
            box-sizing: border-box;
            gap: 0;
        }
    }
    
    .nav-item {
        display: inline-flex;
        align-items: center;
        height: 100%;
        transition: all .3s ease;
        
        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            text-align: center;
            @include font-family-heading();
            @include font-style(600, 1rem, 1.5em, $secondary-color);
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all .3s ease;
            @include desktop {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            
            &:hover {
                color: $primary-color;
            }
        }
        
        &.nav-social {
            color: white;
            &:hover {
                background-color: $primary-color;
                a {
                    color: white;
                }
            }
            a {
                color: white;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        
        &.lock-content {
            border-left: 2px solid $primary-color;
            background-color: white;
            
            &:hover {
                background-color: $primary-color;
                a {
                    color: white;
                }
            }
            
            a {
                color: $secondary-color;
            }
        }
        
        .icon {
            font-size: 1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            text-transform: none;
            letter-spacing: unset;
            flex-direction: column;
            
            &.store:before {
                    font: var(--fa-font-sharp-light);
                    content: "\f54e";
            }
            
            &.coach-corner {
                text-transform: none;
                letter-spacing: unset;
                flex-direction: column;
                gap: .25rem;
                
                &:before {
                    font-size: 1.5rem;
                }
            }
            
            span {
                font-weight: 300;
                font-size: .675rem;
                line-height: 1em;
            }
        }
    }
    
    &.small {
        
        ul {
            li a {
                padding: .5rem 1rem;
                transition: padding .2s ease;
                font-size: .75rem;
            }
        }
        .nav-item {
            .icon span {
                display: none;
            }
            &.nav-social {
                a {
                    padding: .5rem 1.5rem;
                }
            }
        }
    }
    
    .menu-toggle i {
        padding: 2rem;
        color: $primary-color;
        cursor: pointer;
        @include mobile-max {
            font-size: 2rem;
        }
        .w-home & {
            @include mobile-max {
                color: white;
            }
        }
    }
}

.header-logo-center {
    width: 1.5rem;
    justify-content: center;
    padding: 2rem;
    box-sizing: content-box;
    
    transition: all .5s ease;
    grid-area: logo;
    
    @include tablet {
        padding: 1rem;
        width: 2.75rem;
        .small & {
            padding: .5rem;
            width: 2rem;
        }
    }
    
    img {
        max-width: 100%;
    }
}


/********** DESKTOP NAVIGATION **********/
nav.desktop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-side-menu;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    
    background-color: $bg-sidemenu-color;
    overflow-y: scroll;
    transform: translateX(-1000px);
    transition: all .5s ease;
    @include tablet {
        max-width: 360px;
    }
    
    &.open {
        transform: translateX(0);
    }
    
    li {
        cursor: pointer;
        color: white;
        transition: all .3s ease;
        
        &:hover {
            color: $primary-color;
            transition: all .3s ease;
        }
    }
    
    .top-menu {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        
        .top-nav-item {
            padding: 1.5rem 1rem;
            @include font-family-reading();
            @include font-style(400, 1rem, 1.5em, white);
        }
    }
    
    .nav-item-el {
        flex-grow: 1;
        align-items: center;
        @include font-family-heading();
        @include font-style(500, 1.125rem, 1.3em, $side-menu-color);
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all .3s ease;
        
        &:hover {
            cursor: pointer;
            color: $primary-color;
        }
        
    }
    
    .menu {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        
        width: 100%;
        @include mobile-max {
            padding: 3rem 2rem;
            overflow-y: scroll;
        }
        @include tablet {
            padding: 3rem;
        }
        
        .nav-item {
            position: relative;
            width: 100%;
            display: flex;
            gap: 1rem;
        }
        
        .arrowed {
            &:after {
                font-family: "Font Awesome 6 Pro";
                font-weight: 400;
                content: "\2b";
                color: $side-menu-color;
                font-size: 1.25rem;
                transition: all .3s ease;
            }
            
            &:hover {
                &:after {
                    cursor: pointer;
                    color: $side-menu-accent;
                }
            }
            
            &.selected:after {
                transform: rotate(45deg);
                transition: all .3s ease;
            }
        }
        
    }
}

.sub-nav {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-block: 0 1rem;
    margin-inline-start: 2rem;
    gap: 1rem;
    @include tablet {
        gap: .5rem;
    }
    
    .sub-nav-item {
        position: relative;
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-grow: 1;
    }
    .sub-nav-item-el {
        @include font-family-heading();
        @include font-style(400, 1rem, 1.3em, $side-submenu-color);
        transition: all .3s ease;
        
        &:hover {
            cursor: pointer;
            color: $side-menu-accent;
        }
    }
}

.close-menu {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    
    &:hover {
        color: $primary-color;
        transition: all .3s ease;
    }
}









