@charset "UTF-8";
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [variables.scss]
*
*/
/*******************************************************
VARIABLES
*******************************************************/
/*******************************************************
COLORS
*******************************************************/
/* BASICS */
/* SPECIFIC BRAND */
/****** HEADER & FOOTER ******/
/****** DARK MODE *****/
/****** Z-INDEX ******/
/*******************************************************
ADMIN
*******************************************************/
/****** MESSAGES & ALERTS ******/
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [reset.scss]
* DESCRIPTION: reset basic values
*
*/
/*******************************************************
RESET
*******************************************************/
body {
  margin: 0 auto;
  padding: 0;
  background-color: white; }

html, body {
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul, ol, li {
  list-style-type: none; }

img {
  display: block; }

button {
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  outline: 0; }

/****** RESET FORMS ******/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
  background: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
  background: none; }

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [mixins.scss]
* DESCRIPTION: css properties reused
*
*/
/*******************************************************
MIXINS -
*******************************************************/
/* DARK AND DEFAULT MODE */
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [media-queries.scss]
* DESCRIPTION: media queries
*
*/
/************************************************************
MEDIA QUERIES
************************************************************/
/** Target points **/
/* MOBILE - Targeting iPhone 5s only */
/* TABLET - mobile & up */
/* TABLET - 480px & up */
/* TABLET - 520px & up */
/* TABLET - 620px & up */
/* MOBILE - Only Mobile */
/* TABLET - Tablet & up */
/* TABLET - Targeting only tablet */
/* TABLET - Targeting Mobile & Tablet */
/* DESKTOP - Desktop & Up */
/* DESKTOP - Custom targeting point */
/* DESKTOP -  13 inch Macbook Pro screen */
/*******************************************************
ANIMATIONS -
*******************************************************/
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-4px); }
  20% {
    -webkit-transform: translateY(0px); }
  60% {
    -webkit-transform: translateY(8px); }
  100% {
    -webkit-transform: translateY(-4px); } }

@keyframes arrowMove {
  0% {
    transform: translateY(-4px); }
  20% {
    transform: translateY(0px); }
  60% {
    transform: translateY(8px); }
  100% {
    transform: translateY(-4px); } }

@-webkit-keyframes arrowMoveRight {
  0% {
    -webkit-transform: translateX(-4px); }
  20% {
    -webkit-transform: translateX(0px); }
  60% {
    -webkit-transform: translateX(8px); }
  100% {
    -webkit-transform: translateX(-4px); } }

@keyframes arrowMoveRight {
  0% {
    transform: translateX(-4px); }
  20% {
    transform: translateX(0px); }
  60% {
    transform: translateX(8px); }
  100% {
    transform: translateX(-4px); } }

/*
*
* LOCATION: [core]
* FOLDER: [assets/scss]
* FILE NAME: [fonts.scss]
* DESCRIPTION: fonts styling elements
*
*/
/***** TITLE *****/
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3em;
  color: #181818;
  text-align: center;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h1 {
      margin-bottom: 4rem; } }
  @media (min-width: 620px) {
    h1 {
      font-size: 4rem; } }
  h1.article-title {
    font-family: 'Source Sans 3', sans-serif; }
    @media (min-width: 620px) {
      h1.article-title {
        font-size: 3rem; } }
  h1:has(+ h3, + h4) {
    margin-bottom: 1.5rem; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5em;
  color: #C4A84C;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-align: center; }
  @media (min-width: 620px) {
    h2 {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    h2 {
      text-align: unset;
      margin-bottom: 1.5rem; } }
  h2.section-title {
    color: #181818;
    margin-bottom: 2rem;
    text-align: center; }
  h2.icon {
    align-items: baseline; }
    h2.icon:before, h2.icon:after {
      font: var(--fa-font-sharp-solid);
      content: '\e404'; }
  h2:has(+ p) {
    margin-bottom: 1.25rem; }

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3em;
  color: #181818;
  margin-bottom: 1rem; }
  @media (min-width: 620px) {
    h3 {
      font-size: 1.5rem; } }
  h3.news-card-headline {
    font-family: 'Source Sans 3', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media (min-width: 768px) {
      h3.news-card-headline {
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; } }
    @media (min-width: 1024px) {
      h3.news-card-headline {
        font-size: 1.5rem; } }

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5em;
  color: #181818; }
  @media (min-width: 620px) {
    h4 {
      font-size: 1.25rem; } }
  .flash-alert h4 {
    color: white;
    padding: .5rem;
    justify-content: center; }
    @media (min-width: 768px) {
      .flash-alert h4 {
        padding: 2rem; } }
  .dashboard-title h4 {
    font-size: .875rem;
    color: white; }
  h4:has(+ p) {
    margin-bottom: .5rem; }

h5 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #181818; }
  @media (min-width: 620px) {
    h5 {
      font-size: 1rem; } }

h6 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5em;
  color: #181818; }

.text-dates {
  color: #2D3D32; }

.white {
  color: white; }

/***** PARAGRAPH *****/
p {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7em;
  color: #181818;
  max-width: 960px; }
  p .center {
    margin-left: auto;
    margin-right: auto; }
  p.article-intro {
    font-weight: 600;
    font-size: 1.25rem;
    color: #181818;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      p.article-intro {
        font-size: 1.375rem; } }
  p:last-child {
    margin-bottom: 0; }
  p span.text-highlight {
    font-weight: 700; }
  p .inline-link {
    color: #C4A84C;
    font-weight: 600;
    transition: all .3s ease; }
    p .inline-link:hover {
      color: #EFDBB2; }
  p.legend {
    font-size: .875rem;
    color: #5f6369; }
  p:has(+ h1, + h2) {
    margin-bottom: 4rem; }
  p:has(+ h3, + h4) {
    margin-bottom: 2rem; }
  p:has(+ p) {
    margin-bottom: 1.25rem; }

[class*='update-link']:hover {
  cursor: pointer; }

/*
*
* LOCATION: [core]
* FOLDER: [assets/scss]
* FILE NAME: [fonts.scss]
* DESCRIPTION: icons elements
*
*/
/***** FONTAWESOME *****/
.icon {
  display: flex;
  align-items: center;
  gap: .5rem; }
  .icon.icon-atop {
    flex-direction: column;
    align-items: center; }
  @media (max-width: 767px) {
    .icon.mobile-icon-only span {
      display: none !important; } }
  .icon.icon-only span {
    display: none !important; }
  .icon:before, .icon:after {
    /* Common Properties: All required to make icons render reliably - we did this above but it's included here for the full demo */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1em; }

/* ICONS */
.icon-hero:after {
  font-family: "Font Awesome Kit";
  content: "\e006";
  font-size: 1.5rem; }

.add-basic:after {
  font: var(--fa-font-sharp-solid);
  content: '\2b';
  font-size: 1.25em; }

.add-news:before {
  font-family: "Font Awesome Kit";
  font-size: .875em;
  content: '\e001'; }

.delete-basic:before {
  font-family: "Font Awesome Kit";
  content: '\e001';
  font-size: .875em; }

.delete-news:before {
  font-family: "Font Awesome Kit";
  font-size: .875em;
  content: '\e003'; }

.i-long-arrow-table:after {
  font: var(--fa-font-sharp-solid);
  content: '\f178';
  font-size: 1.5em; }

.i-more:before {
  font: var(--fa-font-sharp-light);
  content: '\f055'; }

.i-more-2:before {
  font: var(--fa-font-sharp-regular);
  content: '\f055';
  font-size: 1.25em; }

.menu-toggle-admin:before {
  font: var(--fa-font-light);
  content: '\e24e'; }

.i-logout:before {
  font: var(--fa-font-solid);
  content: '\f08b'; }

.i-homepage:before {
  font: var(--fa-font-regular);
  content: '\e487'; }

.i-facebook:before {
  font: var(--fa-font-brands);
  content: '\f39e'; }

.i-instagram:before {
  font: var(--fa-font-brands);
  content: '\f16d'; }

.i-news:before {
  font: var(--fa-font-sharp-light);
  content: '\f1ea'; }

.i-news-manage:before {
  font-family: "Font Awesome Kit";
  content: '\e003'; }

.i-user:before {
  font: var(--fa-font-light);
  content: '\f0c0'; }

.i-user-manage:before {
  font-family: "Font Awesome Kit";
  content: '\e005'; }

.i-sponsors:before {
  font: var(--fa-font-light);
  content: '\f81d'; }

.i-sponsors-manage:before {
  font-family: "Font Awesome Kit";
  content: '\e009'; }

.i-bdd:before {
  font: var(--fa-font-brands);
  content: '\f388';
  font-size: 1.5em; }

.i-flash:before, .i-flash:after {
  font: var(--fa-font-sharp-solid);
  content: '\f0e7';
  font-size: 1.25em; }

.i-info:before {
  font: var(--fa-font-solid);
  content: '\f05a';
  font-size: 1.25em; }

.i-emergency:before, .i-emergency:after {
  font: var(--fa-font-light);
  content: '\e02e';
  font-size: 1.25em; }

.i-soccer-1:before {
  font-family: "Font Awesome Kit";
  content: "\e006"; }

.i-arrow:after {
  font: var(--fa-font-sharp-regular);
  content: '\f178'; }

.i-map:before {
  font: var(--fa-font-sharp-solid);
  content: '\f3c5'; }

.i-download:before {
  font: var(--fa-font-sharp-regular);
  content: '\f33d'; }

.i-rfc-logo:before {
  font-family: "Font Awesome Kit";
  content: "\e00e"; }

.btn-disable:before {
  font: var(--fa-font-regular);
  content: '\f070';
  font-size: 1.25em; }

.btn-activate:before {
  font: var(--fa-font-regular);
  content: '\f06e';
  font-size: 1.25em; }

.btn-delete:before {
  font: var(--fa-font-regular);
  content: '\f2ed';
  font-size: 1.25em; }

.btn-update:before {
  font: var(--fa-font-regular);
  content: '\f044';
  font-size: 1.25em; }

.btn-revert:before {
  font: var(--fa-font-regular);
  content: '\f12d';
  font-size: 1.25em; }

.btn-validate:before {
  font: var(--fa-font-regular);
  content: '\f058';
  font-size: 1.25em; }

/*
*
* LOCATION: [core]
* FOLDER: [assets/scss]
* FILE NAME: [layout.scss]
* DESCRIPTION: layout elements of the website
*
*/
/****************************************
GENERAL LAYOUT
****************************************/
body {
  font-size: 16px;
  background-color: #f2f2f2; }
  body * {
    box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

/*** For extend ***/
.web-layout, article, .list-people, .w-hero .hero-overlay-content {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  position: relative; }
  .web-layout.flex-layout, article.flex-layout, .flex-layout.list-people, .w-hero .flex-layout.hero-overlay-content {
    display: flex; }
  .web-layout.grid-layout, article.grid-layout, .grid-layout.list-people, .w-hero .grid-layout.hero-overlay-content {
    display: grid;
    gap: 1rem; }
    @media (min-width: 768px) {
      .web-layout.grid-layout, article.grid-layout, .grid-layout.list-people, .w-hero .grid-layout.hero-overlay-content {
        gap: 1.5rem; } }
    @media (min-width: 1024px) {
      .web-layout.grid-layout, article.grid-layout, .grid-layout.list-people, .w-hero .grid-layout.hero-overlay-content {
        gap: 2.5rem; } }
    .web-layout.grid-layout.field-filter, article.grid-layout.field-filter, .grid-layout.field-filter.list-people, .w-hero .grid-layout.field-filter.hero-overlay-content {
      gap: .5rem; }
  .web-layout.col-12, article.col-12, .col-12.list-people, .w-hero .col-12.hero-overlay-content {
    grid-template-columns: repeat(4, 1fr); }
    @media (min-width: 768px) {
      .web-layout.col-12, article.col-12, .col-12.list-people, .w-hero .col-12.hero-overlay-content {
        grid-template-columns: repeat(6, 1fr); } }
    @media (min-width: 1024px) {
      .web-layout.col-12, article.col-12, .col-12.list-people, .w-hero .col-12.hero-overlay-content {
        grid-template-columns: repeat(12, 1fr); } }
  .web-layout.col-2, article.col-2, .col-2.list-people, .w-hero .col-2.hero-overlay-content {
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      .web-layout.col-2, article.col-2, .col-2.list-people, .w-hero .col-2.hero-overlay-content {
        grid-template-columns: repeat(2, 1fr); } }
  .web-layout.col-3, article.col-3, .col-3.list-people, .w-hero .col-3.hero-overlay-content {
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      .web-layout.col-3, article.col-3, .col-3.list-people, .w-hero .col-3.hero-overlay-content {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 1024px) {
      .web-layout.col-3, article.col-3, .col-3.list-people, .w-hero .col-3.hero-overlay-content {
        grid-template-columns: repeat(3, 1fr); } }

/*******************************************************
GRID SYSTEM
*******************************************************/
.grid-system {
  width: 100%;
  display: grid;
  gap: 1rem; }
  @media (min-width: 768px) {
    .grid-system {
      gap: 1.5rem; } }
  @media (min-width: 1024px) {
    .grid-system {
      gap: 2.5rem; } }

.grid-col-2 {
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .grid-col-2 {
      grid-template-columns: repeat(2, 1fr); } }

.grid-col-3 {
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .grid-col-3 {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1024px) {
    .grid-col-3 {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 768px) {
    .grid-col-3.t1 {
      grid-template-columns: 1fr; } }

/*******************************************************
VARIABLES
*******************************************************/
/*******************************************************
LAYOUT ELEMENTS
*******************************************************/
/********* SECTION *********/
section {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0; }
  @media (min-width: 620px) {
    section {
      padding: 4rem 0; } }
  section.w-hero {
    padding: 0 !important;
    height: 90dvh;
    max-height: 520px; }
    @media (min-width: 768px) {
      section.w-hero {
        max-height: 800px; } }
    section.w-hero article {
      height: 100%;
      overflow: hidden; }
  section:only-of-type {
    min-height: 800px; }
  section.contact {
    background-color: #D0D3D4; }

article {
  padding: 0 1.5rem;
  margin-bottom: 4rem; }
  article[class]:last-of-type {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    article {
      padding: 0 2.5rem; } }
  @media (min-width: 1024px) {
    article {
      padding: 0 5rem; } }
  article.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    article.wrapper.align-top {
      justify-content: flex-start; }
    article.wrapper.align-center {
      justify-content: center; }
    article.wrapper.align-end {
      justify-content: flex-end; }
  article.wrapper-full {
    max-width: inherit;
    padding: 0; }
  article.wrapper-text {
    max-width: 960px; }

/********* POPUP WINDOW *********/
.icon-left {
  padding-right: 8px; }

.popup-container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  padding: 1rem; }

.popup-window {
  padding: 2rem;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  height: auto;
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll; }
  @media (max-width: 767px) {
    .popup-window {
      padding: 1rem;
      margin: 120px auto; } }

.popup-btn {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  border: 1px solid #C4A84C;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1em;
  color: #C4A84C;
  cursor: pointer; }

/********* FONCTIONS *********/
.is-hide,
.is-hidden {
  display: none !important; }

@media (min-width: 768px) {
  .only-mobile {
    display: none; } }

@media (max-width: 767px) {
  .only-tablet {
    display: none; } }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [design-system.scss]
* DESCRIPTION: Elements from the design system of Revolution FC
*
*/
/*************** DESIGN SYSTEM ***************/
/***********************
DESIGN SYSTEM – Alert message box
***********************/
.w-alert-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background-color: rgba(242, 242, 242, 0.7);
  box-sizing: border-box; }
  .w-alert-message .alert-message {
    max-width: 600px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5em;
    color: #181818;
    border: 1px solid #2e2e2e; }
    @media (min-width: 1024px) {
      .w-alert-message .alert-message {
        padding: 4rem; } }
    .w-alert-message .alert-message i {
      color: #d5ae01;
      padding: 0 0 16px;
      font-size: 2em; }
    .w-alert-message .alert-message.alert-info {
      background-color: #C4A84C;
      border-color: #5a4c1e;
      color: white; }
      .w-alert-message .alert-message.alert-info i {
        color: white; }
    .w-alert-message .alert-message.alert-correct {
      background-color: #1ecd28;
      border-color: #0a480e;
      color: white; }
      .w-alert-message .alert-message.alert-correct i {
        color: white; }
    .w-alert-message .alert-message.alert-error {
      background-color: #EF233C;
      border-color: #a00c1e;
      color: white; }
      .w-alert-message .alert-message.alert-error i {
        color: white; }
    .w-alert-message .alert-message span {
      margin-top: 16px; }
  .w-alert-message .close-alert-box {
    grid-column: span 2;
    cursor: pointer;
    text-decoration: underline; }

/***********************
DESIGN SYSTEM – CARDS
***********************/
.news-card {
  display: grid;
  grid-template-columns: 1fr;
  transition: transform .3s ease, box-shadow .3s ease;
  width: 100%;
  height: auto;
  justify-items: stretch;
  background: none; }
  @media (min-width: 520px) {
    .news-card {
      background-color: #FFFFFF; } }
  .news-card:hover {
    cursor: pointer; }
    @media (min-width: 520px) {
      .news-card:hover {
        -webkit-box-shadow: 0 5px 20px -6px #aca9a9;
        -moz-box-shadow: 0 5px 20px -6px #aca9a9;
        box-shadow: 0 5px 20px -6px #aca9a9;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: transform .3s ease, box-shadow .3s ease; } }
  .news-card-img {
    width: 100%;
    height: 0;
    display: none;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 520px) {
      .news-card-img {
        display: block;
        height: 240px; } }
  .news-card-vignette {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 0; }
    @media (min-width: 520px) {
      .news-card-vignette {
        padding: 1.5rem; } }
  .news-card-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem; }
  .news-card-headline {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    height: auto;
    margin: 0; }
    .news-card-headline:after {
      display: inline-flex;
      font-family: "Font Awesome 6 Pro";
      content: '\f178';
      font-weight: 400;
      font-size: 1rem;
      color: #949A90;
      margin-left: 1rem;
      animation: arrowMoveRight 1s infinite; }

.news-category {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1em;
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  padding: .5rem .75rem;
  background-color: #949A90;
  display: inline-block;
  text-transform: uppercase; }

/***********************
DESIGN SYSTEM – Buttons
***********************/
.button, .btn-primary, .btn-secondary, .btn-tertiary, .btn-filter, .btn-download {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  padding: 24px 40px;
  transition: all .3s ease; }
  @media (max-width: 767px) {
    .button, .btn-primary, .btn-secondary, .btn-tertiary, .btn-filter, .btn-download {
      width: 100%; } }
  .button:hover, .btn-primary:hover, .btn-secondary:hover, .btn-tertiary:hover, .btn-filter:hover, .btn-download:hover {
    cursor: pointer;
    transition: all .3s ease; }
  .button .fa-long-arrow, .btn-primary .fa-long-arrow, .btn-secondary .fa-long-arrow, .btn-tertiary .fa-long-arrow, .btn-filter .fa-long-arrow, .btn-download .fa-long-arrow {
    font-size: 2em; }

.btn-primary {
  background-color: #949A90;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  color: white; }
  .btn-primary:hover {
    background-color: #6e746a; }
  .btn-primary.cta-back {
    background-color: #fed624;
    color: #181818; }
    .btn-primary.cta-back:hover {
      background-color: #d5ae01; }
    .btn-primary.cta-back:before {
      font-family: "Font Awesome 6 Pro";
      content: '\f177';
      font-weight: 400;
      font-size: 20px; }
  .btn-primary[class*='cta-download'] {
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    color: white; }
    .btn-primary[class*='cta-download']:before {
      font-family: "Font Awesome 6 Pro";
      content: '\f33d';
      font-weight: 400;
      font-size: 20px; }
  @media (max-width: 767px) {
    .btn-primary span.is-hide-mobile {
      display: none; } }

.btn-secondary {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1em;
  color: #949A90;
  border: 1px solid #949A90; }
  .btn-secondary:hover {
    border-color: #6e746a;
    color: #6e746a; }
  .btn-secondary.ghost-white {
    color: white;
    border-color: white; }
    .btn-secondary.ghost-white:hover {
      border-color: #C4A84C;
      color: #C4A84C; }

.btn-tertiary {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1em;
  color: #181818;
  padding: 0;
  margin: 24px 0; }
  .btn-tertiary.btn-light {
    color: white; }
  .btn-tertiary:hover {
    color: #C4A84C; }
  .btn-tertiary:after {
    font-family: "Font Awesome 6 Pro";
    content: '\f178';
    font-weight: 400;
    font-size: 20px;
    margin-left: 8px; }

.btn-filter {
  gap: .5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1em;
  color: #C4A84C;
  padding: 0; }
  .btn-filter-select .btn-filter {
    color: #2D3D32;
    text-transform: uppercase; }
    .btn-filter-select .btn-filter.is-inactive {
      color: #949A90; }
      .btn-filter-select .btn-filter.is-inactive:hover {
        color: #2D3D32; }
  .btn-filter.is-inactive {
    opacity: .5;
    color: #949A90; }
    .btn-filter.is-inactive:hover {
      opacity: 1;
      color: #C4A84C; }

.btn-download {
  background: #D0D3D4;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1em;
  color: white;
  padding: .75rem 1.25rem; }
  @media (max-width: 767px) {
    .btn-download {
      width: unset; } }
  .btn-download:hover {
    background: #C4A84C; }

.is-inactive > * {
  opacity: 0.2; }
  .menu .is-inactive > *:after {
    content: " (pas encore disponible)"; }
  .is-inactive > * h4:after {
    content: " (pas encore disponible)"; }

/***********************
DESIGN SYSTEM – Lists
***********************/
.list-text {
  position: relative;
  margin-block: 1rem 2rem;
  margin-inline-start: 2rem;
  list-style: none; }
  .list-text li {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    color: #181818;
    margin-bottom: .25rem;
    display: flex;
    align-items: baseline;
    gap: .5rem; }
    .list-text li:last-of-type {
      margin-bottom: 0; }
    .list-text li:before {
      content: "\2022";
      /* Unicode character for a bullet (circle) */
      display: inline-flex; }

.list-people {
  margin-block: 3rem; }
  @media (min-width: 768px) {
    .list-people.col-2 .list-people-header {
      grid-column: span 2; } }
  @media (min-width: 768px) {
    .list-people.col-3 .list-people-header {
      grid-column: span 2; } }
  @media (min-width: 1024px) {
    .list-people.col-3 .list-people-header {
      grid-column: span 3; } }
  .list-people .people-el {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem; }
    .list-people .people-el .list-people-function {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1em;
      color: #181818;
      text-transform: uppercase;
      margin-bottom: .5rem; }
    .list-people .people-el .list-people-img {
      margin-bottom: 1rem;
      width: 100%;
      aspect-ratio: 1;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
      @media (min-width: 768px) {
        .list-people .people-el .list-people-img {
          max-width: 320px; } }
    .list-people .people-el .list-people-name {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1em;
      color: #C4A84C;
      text-transform: capitalize; }
    .list-people .people-el .list-people-legend {
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5em;
      color: #2D3D32; }
    .list-people .people-el .list-people-email {
      margin-top: .5rem;
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1em;
      color: #C4A84C; }

/***** DOCUMENTS LISTS *****/
.w-list-docs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 3rem; }

.list-docs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 1rem 4rem; }
  @media (min-width: 768px) {
    .list-docs {
      gap: 1rem; } }
  .list-docs li {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem; }
    @media (min-width: 768px) {
      .list-docs li {
        gap: 3rem; } }
  .list-docs span.docs-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    color: #C4A84C;
    flex-grow: 1; }

/***** DROPDOWN *****/
select {
  width: 100%;
  background-color: white;
  padding: .5rem 2.5rem .5rem 1rem;
  border: 1px solid #d3d3d3;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3em;
  color: #181818; }

.select-dropdown {
  position: relative;
  width: 100%;
  max-width: 220px;
  margin: 0 auto 2rem; }
  .select-dropdown.contact {
    margin-left: 0;
    width: fit-content;
    max-width: inherit; }
  .select-dropdown:after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    width: 2rem;
    font-family: "Font Awesome 6 Pro";
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
    content: "\f107";
    background-color: #949A90; }

/****** FORMS ******/
#wrapper-form input {
  background-color: white;
  border: 1px solid #aca9a9;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  outline: none;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1em;
  color: #5f6369;
  text-align: left; }
  #wrapper-form input:focus {
    border-color: #1ecd28; }
  #wrapper-form input[type="submit"] {
    display: block;
    background-color: #949A90;
    border: none;
    max-width: 320px;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    color: white;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer; }
    #wrapper-form input[type="submit"].cta-send:after {
      font-family: "Font Awesome 6 Pro";
      content: '\f30b';
      font-weight: 400;
      font-size: 1em;
      margin-left: .5rem; }

#wrapper-form textarea {
  background-color: white;
  outline: none;
  height: 190px;
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font: 400 1em "roboto", sans-serif;
  border: 1px solid #b6b4b5; }
  #wrapper-form textarea:focus {
    border-color: #1ecd28; }

.recaptcha div {
  margin: 0 auto; }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [header.scss]
* DESCRIPTION: header style
*
*/
/****************************************
HEADER CSS -
****************************************/
/********** ALERT BOXES **********/
.alert-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box; }
  .alert-box .alert-message {
    width: 600px;
    min-height: 200px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #181818;
    border: 1px solid #d5ae01;
    background-color: #fed624; }
    .alert-box .alert-message i {
      color: #d5ae01;
      padding: 0 0 16px;
      font-size: 2em; }
    .alert-box .alert-message.correct {
      background-color: #9bce7c;
      border-color: #293D1D;
      color: #293D1D; }
      .alert-box .alert-message.correct i {
        color: #293D1D; }
    .alert-box .alert-message.error {
      background-color: #ff1541;
      border-color: #BA0F2F;
      color: white; }
      .alert-box .alert-message.error i {
        color: white; }
    .alert-box .alert-message span {
      margin-top: 16px; }
  .alert-box .close-alert-box {
    grid-column: span 2;
    cursor: pointer;
    text-decoration: underline; }

/********** TOP HEADER **********/
.top-header {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: none;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 0;
  align-items: center;
  justify-items: center;
  transition: all 0.5s ease;
  transform: translateY(0px);
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .top-header {
      display: grid; } }
  .top-header.scrollUp {
    transform: translateY(-140px); }
  .top-header ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .top-header ul li {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 24px;
      cursor: pointer;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5em;
      color: #181818; }
      @media (min-width: 1240px) {
        .top-header ul li {
          padding: 32px; } }
      .top-header ul li:hover {
        background-color: #C4A84C;
        transition: all .3s ease;
        color: white; }
    .top-header ul.header-nav {
      justify-content: flex-start; }
    .top-header ul.header-social {
      justify-content: flex-end;
      box-sizing: border-box;
      gap: 0; }
      .top-header ul.header-social li {
        background-color: #C4A84C;
        font-size: 20px;
        color: white; }
        .top-header ul.header-social li:hover {
          background-color: #181818; }
  .top-header .menu-toggle i {
    padding: 4px 8px; }

.header-logo-center {
  width: 3.75rem;
  justify-content: center;
  padding: .5rem .25rem; }
  .header-logo-center img {
    max-width: 100%; }

/********** DESKTOP NAVIGATION **********/
nav.desktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  background-color: #181818;
  overflow-y: scroll;
  transform: translateX(-1000px);
  transition: all .5s ease; }
  nav.desktop.open {
    transform: translateX(0); }
  nav.desktop li {
    cursor: pointer;
    color: white;
    transition: all .3s ease; }
    nav.desktop li:hover {
      color: #C4A84C;
      transition: all .3s ease; }
  nav.desktop .top-menu {
    width: 100%;
    display: flex;
    flex-flow: row nowrap; }
    nav.desktop .top-menu .top-nav-item {
      padding: 24px 16px;
      font: 400 16px/24px 'Roboto', sans-serif; }
  nav.desktop .menu {
    width: 100%;
    padding: 16px; }
    @media (max-width: 767px) {
      nav.desktop .menu {
        height: 80vh;
        overflow-y: scroll; } }
    @media (min-width: 768px) {
      nav.desktop .menu {
        padding: 64px; } }
    nav.desktop .menu .nav-item {
      position: relative;
      font: 400 18px/28px 'Roboto', sans-serif;
      width: 100%;
      padding: 8px 4px; }
      nav.desktop .menu .nav-item:first-of-type {
        border-top: none; }
      nav.desktop .menu .nav-item:last-of-type {
        border-bottom: none; }
    nav.desktop .menu .arrowed:after {
      font-family: "Font Awesome 6 Pro";
      font-weight: 400;
      content: "\2b";
      position: absolute;
      top: 10px;
      right: 0;
      font-size: 1.125rem;
      transition: all .3s ease; }
    nav.desktop .menu .selected:after {
      transform: rotate(45deg);
      transition: all .3s ease; }

.sub-nav {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0 0 0 24px; }
  .sub-nav .sub-nav-item {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    font: 400 18px/1.45em 'Roboto', sans-serif; }

.close-menu {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: white;
  font-size: 2rem;
  cursor: pointer; }
  .close-menu:hover {
    color: #C4A84C;
    transition: all .3s ease; }

/********** MOBILE NAVIGATION **********/
nav.mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: calc(100% - 4rem);
  margin: 2rem 2rem 1rem;
  border-radius: 1rem;
  background-color: #FFCD00;
  transition: all 0.5s ease;
  transform: translateY(0px);
  box-shadow: 0 -5px 20px rgba(52, 55, 65, 0.2); }
  @media (min-width: 768px) {
    nav.mobile {
      display: none; } }
  nav.mobile.scrollUp {
    transform: translateY(200px); }
  nav.mobile .nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1em;
    color: #181818;
    padding: 1rem .5rem;
    text-align: center; }
    nav.mobile .nav-item > i {
      display: block;
      padding: 4px;
      margin-bottom: 4px;
      font-size: 1.5em; }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [footer.scss]
* DESCRIPTION: footer style
*
*/
/*******************************************************
FOOTER
*******************************************************/
footer {
  padding: 32px 24px 120px;
  background-color: #181818;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    footer {
      padding: 32px; } }
  footer article {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    padding: 0; }
    @media (min-width: 1440px) {
      footer article {
        max-width: 1260px; } }

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px 16px; }
  @media (min-width: 768px) {
    .main-footer {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 40px 16px; } }
  .main-footer .footer-logo {
    width: 80px;
    justify-self: center;
    grid-column: span 2; }
    .main-footer .footer-logo img {
      width: 100%; }
    @media (min-width: 768px) {
      .main-footer .footer-logo {
        justify-self: inherit;
        grid-column: span 1; } }
  .main-footer .footer-nav {
    width: 100%; }
    .main-footer .footer-nav li {
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5em;
      color: white;
      padding: 2px 0; }
      .main-footer .footer-nav li.list-header {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px; }
      .main-footer .footer-nav li:hover:not(list-header) {
        color: #949A90; }
  .main-footer .footer-copy {
    grid-column: span 2;
    text-align: center; }
    @media (min-width: 768px) {
      .main-footer .footer-copy {
        grid-row: 2;
        grid-column: span 5; } }
    .main-footer .footer-copy p {
      color: white;
      font-size: 12px; }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [main.scss]
* DESCRIPTION: main website user css file
*
*/
/*******************************************************
MAIN CSS
*******************************************************/
/******************************
HOME PAGE
******************************/
.w-hero {
  position: relative; }
  .w-hero .hero-overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #181818;
    background: -webkit-linear-gradient(top, rgba(24, 24, 24, 0), #181818);
    background: linear-gradient(to bottom, rgba(24, 24, 24, 0), #181818); }
  .w-hero .hero-overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
    padding: 0 1.5rem; }
    @media (min-width: 768px) {
      .w-hero .hero-overlay-content {
        gap: 40px;
        margin-bottom: 80px; } }
    .w-hero .hero-overlay-content h1 {
      color: white;
      text-align: center; }

.news-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
  justify-items: stretch;
  margin-bottom: 32px;
  width: 100%; }
  @media (min-width: 520px) {
    .news-container {
      grid-gap: 32px; } }
  @media (min-width: 768px) {
    .news-container {
      margin-bottom: 0;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1024px) {
    .news-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px; } }

/* ADDONS SECTION */
.hp-addons {
  display: flex;
  flex-direction: column; }
  .hp-addons > * {
    background-color: white;
    padding: 16px;
    margin-bottom: 16px; }
    .hp-addons > *.important {
      background-color: #949A90; }
      .hp-addons > *.important h3 {
        color: white;
        margin-bottom: 0; }
    .hp-addons > *.addon-img {
      padding: 0; }
    .hp-addons > *:last-child {
      margin-bottom: 0; }
  .hp-addons img {
    width: 100%; }

.addons-registration h3 {
  text-align: center; }

.addons-registration .secondary-btn {
  margin-bottom: 16px; }

/* JOBS SECTION */
.hp-jobs {
  padding: 16px;
  border: 1px solid #949A90;
  position: relative; }
  @media (min-width: 768px) {
    .hp-jobs {
      padding: 40px; } }
  .hp-jobs:before {
    content: 'Offre(s) d\'emploi';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    background: #f2f2f2;
    display: table;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #949A90;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 4px 8px;
    width: fit-content; }
    @media (min-width: 1024px) {
      .hp-jobs:before {
        font-size: 24px;
        top: -24px; } }
  .hp-jobs ul li {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 16px 40px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #aca9a9; }
    .hp-jobs ul li:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0; }
    @media (min-width: 768px) {
      .hp-jobs ul li {
        grid-template-columns: 1fr auto; } }
  .hp-jobs ul .job-infos {
    display: flex;
    flex-direction: column; }
    @media (max-width: 767px) {
      .hp-jobs ul .job-infos > * {
        align-self: center; } }

.hp-contact-info .contact-info-details {
  margin-bottom: 24px; }

/* Sponsors SECTION*/
.sponsors-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  align-items: center;
  justify-content: center; }
  .sponsors-list .sponsors-logo {
    padding: 16px;
    flex: 1 1 auto;
    max-width: 20%; }
    .sponsors-list .sponsors-logo img {
      max-width: 100%; }
      @media (min-width: 768px) {
        .sponsors-list .sponsors-logo img {
          filter: grayscale(1);
          opacity: .7;
          transform: scale(0.9);
          transition: all .3s ease; }
          .sponsors-list .sponsors-logo img:hover {
            filter: grayscale(0);
            opacity: 1;
            transform: scale(1);
            transition: all .3s ease; } }
  .sponsors-list.sponsors-tournament {
    margin-bottom: 2rem; }
    .sponsors-list.sponsors-tournament .sponsors-logo {
      max-width: 80%; }
      @media (min-width: 768px) {
        .sponsors-list.sponsors-tournament .sponsors-logo {
          max-width: 30%; } }
      .sponsors-list.sponsors-tournament .sponsors-logo img {
        transform: scale(1);
        opacity: 1;
        filter: none; }

/******************************
FORMULAIRES PAGE -
******************************/
.doc_download {
  margin: 24px auto; }
  @media (min-width: 520px) {
    .doc_download {
      margin: 40px auto; } }
  .doc_download > * {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    align-items: center;
    margin-bottom: 16px; }
    @media (min-width: 1024px) {
      .doc_download > * {
        grid-template-columns: auto 220px; } }
    @media (min-width: 1024px) {
      .doc_download > *.layout-3 {
        grid-template-columns: auto 220px 220px; } }
    .doc_download > *:last-of-type {
      margin-bottom: 0; }
    .doc_download > * .primary-btn {
      margin: 0 auto; }
  .doc_download h4 {
    text-transform: none;
    font-size: 1.5em;
    text-align: center; }
    @media (min-width: 520px) {
      .doc_download h4 {
        font-size: 18px;
        text-align: inherit; } }

/******************************
NEWS PAGE
******************************/
.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px; }
  .pagination .page-cta {
    background-color: #949A90;
    padding: 8px 16px;
    font-size: 32px;
    color: white; }
  .pagination p {
    padding: 0 16px; }
    .pagination p span {
      padding: 4px 8px; }
      .pagination p span.active-page {
        font-weight: 700;
        color: #949A90;
        border-bottom: 4px solid #949A90; }

/*******************************
News detail / Programme detail - DONE
*******************************/
.article-heading .article-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 16px 0; }
  @media (max-width: 767px) {
    .article-heading .article-info {
      padding-top: 0; } }

.article-heading .article-title {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.3em;
  font-weight: 700;
  margin-bottom: 16px; }

.article-featured-img img {
  width: 100%; }

.article-detail {
  margin-top: 24px; }
  @media (min-width: 768px) {
    .article-detail {
      margin-top: 64px; } }
  .article-detail span.news-section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    color: #949A90;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .article-detail span.news-section-header {
        font-size: 21px; } }
    @media (min-width: 1240px) {
      .article-detail span.news-section-header {
        font-size: 24px; } }
  .article-detail span.news-quote {
    font-style: italic;
    font-weight: 400; }
  .article-detail a.news-external_link {
    color: #949A90;
    text-decoration: underline;
    transition: all .3s ease; }
    .article-detail a.news-external_link:hover {
      color: #484c45; }
  .article-detail ul {
    margin-inline-start: 2.5rem; }
    .article-detail ul li {
      list-style-type: circle;
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 300;
      font-size: 1em;
      line-height: 1em;
      color: #181818; }
      @media (min-width: 620px) {
        .article-detail ul li {
          font-size: 1.125rem; } }
    .article-detail ul.news-list {
      margin-inline-start: 2rem;
      margin-block-start: 1rem;
      margin-block-end: 1rem; }
      .article-detail ul.news-list li {
        list-style-type: disc; }

.article-footer {
  border-top: 1px solid #E6E6E6;
  margin-top: 24px;
  padding-top: 24px; }
  @media (min-width: 768px) {
    .article-footer {
      padding-top: 32px;
      margin-top: 32px; } }

/******************************
CLUB PAGE
******************************/
.grid-club-staff {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 24px; }
  @media (min-width: 768px) {
    .grid-club-staff {
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      grid-gap: 40px; } }
  @media (min-width: 1024px) {
    .grid-club-staff {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 80px; } }

.people-vignette-img {
  width: 100%;
  height: 400px;
  filter: grayscale(1);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat; }
  .people-vignette-img:hover {
    filter: grayscale(0);
    transition: all .5s ease;
    cursor: pointer; }

.people-info {
  margin-top: 16px;
  padding: 0 0 16px 0; }
  .people-info .people-name {
    color: #181818;
    margin-bottom: 8px; }
  .people-info .people-position {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1em;
    color: #181818;
    border-bottom: 2px solid #949A90;
    margin-bottom: 16px; }
  .people-info .people-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    color: #aca9a9; }
    .people-info .people-contact:not(:last-of-type) {
      margin-bottom: 4px; }
    .people-info .people-contact:hover {
      color: #C4A84C;
      transition: all .3s ease; }

/******************************
PROGRAMMES - en cours –
******************************/
.programme-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .programme-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem 2rem; } }

.programme-element {
  opacity: 1;
  transition: opacity .3s ease; }
  .programme-element:hover {
    opacity: .8; }
  .programme-element h2 {
    text-transform: unset;
    margin: 1rem auto .5rem;
    line-height: 1.3em; }
  .programme-element p.intro {
    color: #C4A84C; }
  .programme-element [class*="btn-"] {
    margin: 0; }

.programme-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 3/2; }

/******************************
STAFF TECHNIQUE PAGE –
******************************/
/******************************
FIELDS PAGE – Done
******************************/
.fields li {
  width: 100%; }

.filter-select {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  justify-content: center;
  align-items: baseline; }
  @media (min-width: 768px) {
    .filter-select {
      grid-template-columns: auto 1fr;
      gap: 1rem; } }
  .filter-select .btn-filter-select {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem; }

[class*="filter-buttons-"] {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem; }

.field-el h4 {
  text-transform: unset; }

.field-el .btn-tertiary {
  color: #949A90; }
  .field-el .btn-tertiary:hover {
    color: #2D3D32; }

/******************************
TOURNOI – Done
******************************/
.tournoi-tarifs {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  margin: 3rem auto;
  justify-content: center; }

.tournament-img {
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .tournament-img {
      margin-bottom: 2rem; } }

.t-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: calc(50% - 12px);
  padding: 24px;
  background: white;
  box-shadow: 0 8px 20px 0 #e2e2e2;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .t-card {
      width: 100%; } }
  .t-card:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .t-card > * {
    text-align: center; }
  .t-card-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1em;
    color: #949A90; }
  .t-card-category {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1em;
    color: #181818; }
  .t-card-price {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1em;
    color: #181818; }
    .t-card-price span {
      font-weight: 400;
      font-size: 0.3em;
      line-height: 1em;
      color: #C4A84C; }

/******************************
RESSOURCES ENTRAINEURS
******************************/
