/*
*
* LOCATION: [pages]
* FOLDER: [scss]
* FILE NAME: [page-volunteer.scss]
* DESCRIPTION: Styling for the volunteer pages
*
*/


.w-cards {
    .p-volunteer & {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 2rem;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
        
        @include desktop {
            margin-top: 3rem;
            gap: 2rem 4rem;
        }
    }
}

.w-hotm {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "hotm-img"
        "hotm-content";
    
    @include tablet {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "hotm-img hotm-img hotm-img ."
        ". hotm-content hotm-content hotm-content";
    }
}

.hotm-img {
    grid-area: hotm-img;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: -$space-m;
    margin-right: -$space-m;
    @include tablet {
        margin-left: 0;
        margin-right: 0;
    }
}

.hotm-content {
    grid-area: hotm-content;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: .5rem;
    margin-top: -2rem;
    @include tablet {
        gap: 2rem;
        margin-top: -6rem;
    }
}

.hotm-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    
    h3 {
        background: $web-grey-1;
        padding: .5rem 1rem;
        color: $secondary-color-darker;
        margin: 0;
        @include tablet {
            padding: 1rem 2rem;
        }
    }
    
    h1 {
        background: $primary-color;
        padding: .5rem 1.5rem;
        color: white;
        margin: -1rem 0 0;
        @include tablet {
            margin: 0;
            padding: 1rem 2rem;
        }
    }
}

.hotm-info {
    h2 {
        margin-bottom: .5rem;
        text-transform: none;
    }
    
    h4 {
        color: $secondary-color;
        margin-bottom: 1.5rem;
    }
}

.xp-com {
    margin-block: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    @include tablet {
        margin-block: 4rem 0;
        grid-template-columns: repeat(3, 1fr);
    }
    
    h4 {
        color: $primary-color;
        margin-bottom: .5rem;
    }
    
    .icon {
        font-size: 4rem;
        color: $secondary-color;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

.xp-testimony {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    flex-grow: 1;
    margin: 0 auto;
    
    blockquote {
        @include font-family-reading();
        @include font-style(400, 1.5rem, 1.5em, $secondary-color);
        font-style: italic;
        margin-bottom: 3rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        
        &:before {
            position: absolute;
            left: -2rem;
            z-index: -1;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: $secondary-color-lighter;
            font: var(--fa-font-solid);
            content: '\f10d';
            font-size: 4rem;
        }
        
        h4 {
            color: $primary-color;
            font-weight: 700;
            margin: 1rem 0 0;
            &:before {
                content: '– ';
            }
        }
        h5 {
            color: $secondary-color-light;
            margin-left: 3rem;
        }
    }
}

